<div id="loading-image">
	<img src="img/canoe-loading.svg" />
</div>

<style>
	#loading-image {
		height: 100vh;
		width: 100vw;
		max-width: 600px;
		margin: 0 auto;
	}

	#loading-image img {
		height: 100%;
		display: block;
		margin: 0 auto;
	}
</style>
