<div id="site-logo">
	<img src="{{ htmlWebpackPlugin.options.favicon_path }}" />
</div>
<div id="loading-img">
	<img src="../public/loading.png" />
</div>
<div id="powered-by-logos">
	<img src="{{ htmlWebpackPlugin.options.favicon_path }}" />
</div>

<style>
	#service-worker-loading img {
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		height: 100%;
		margin: auto;
		padding: 0;
		flex: 0;
	}

	#site-logo,
	#loading-img,
	#powered-by-logos {
		display: flex;
	}

	#loading-img {
		flex: 1;
	}

	#powered-by-logos {
		background: linear-gradient(134.77deg, #F4F8FA 0%, #D9E2E7 100%);
		min-height: 160px;
	}

	#powered-by-logos img {}

</style>
