<BasicCard>
    <ImageWrapper
        if="{ props.card.image }"
        image="{ props.card.image }"
    >
    </ImageWrapper>

    <h3 if="{ props.card.header }">{ props.card.header }</h3>

    <div class="richtext" />

    <script>
        import ImageWrapper from "RiotTags/Components/ImageWrapper.riot.html";
        export default {
            components: {
                imagewrapper: ImageWrapper,
            },

            setInnerHTML() {
                this.$(".richtext").innerHTML = this.props.card.content;
                const absolutePath = new RegExp('^(?:[a-z]+:)?//', 'i');
                const links = [...this.$('.richtext').getElementsByTagName('a')];

                links.forEach((link) => {
                    if (absolutePath.test(link.href)) {
                        link.target = "_blank"
                    }
                })
            },

            onMounted() {
                this.setInnerHTML();
            },

            onUpdated() {
                this.setInnerHTML();
            },
        };
    </script>
</BasicCard>
