<BasicCard>
    <ImageWrapper
        if="{ props.card.image }"
        imageId="{ props.card.image.id }"
        alt="{ props.card.image.alt }"
    >
    </ImageWrapper>

    <h3 if="{ props.card.header }">{ props.card.header }</h3>

    <div class="richtext" />

    <script>
        import ImageWrapper from "RiotTags/Components/ImageWrapper.riot.html";
        export default {
            components: {
                imagewrapper: ImageWrapper,
            },

            setInnerHTML() {
                this.$(".richtext").innerHTML = this.props.card.content;
            },

            onMounted() {
                this.setInnerHTML();
            },

            onUpdated() {
                this.setInnerHTML();
            },
        };
    </script>
</BasicCard>
