<BottomMenu>
    <footer if="{showBottomMenu()}">
        <div class="bottom-menu">
            <a href="#" if="{shouldShowLearningHome()}">
                <span class="all-courses-icon { page.type === 'courseshomepage' ? 'active' : ''}">
                </span>
            </a>
            <a href="#topics" if="{shouldShowTeachingHome()}">
                <span class="list-icon { page.type === 'learningactivitieshomepage' ? 'active' : ''}">
                </span>
            </a>
            <a href="#resources" if="{shouldShowResources()}">
                <span class="resources-icon { page.type === 'resourcesroot' ? 'active' : ''}">
                </span>
            </a>
            <a href="#sync" if="{shouldShowSync()}">
                <span class="resources-icon { page.type === 'sync' ? 'active' : ''}">
                </span>
            </a>
            <a href="#{ profileLink }">
                <span class="profile-icon { page.type === 'profile' ? 'active' : ''}">
                </span>
            </a>
        </div>
    </footer>

    <script>
        import { getRoute } from "ReduxImpl/Interface";
        import { inAppelflap } from "ts/PlatformDetection";

        export default {

            get page() {
                return getRoute().page;
            },
            get riotHash() {
                return getRoute().riotHash;
            },
            get profileLink() {
                return process.env.PROFILE_LINK || 'profile';
            },

            shouldShowSync() {
                return inAppelflap();
            },

            shouldShowLearningHome() {
                return this.page.manifest.hasPageType('courseshomepage');
            },

            shouldShowTeachingHome() {
                return this.page.manifest.hasPageType('learningactivitieshomepage');
            },

            shouldShowResources() {
                return this.page.manifest.hasPageType('resourcesroot');
            },

            showBottomMenu() {
                if (this.page.type === 'initial') {
                    return false;
                }

                if (this.page.type === 'login') {
                    return false;
                }

                if (this.page.type === 'error') {
                    if (this.page.errorType === 'not_found') return true;
                    return false;
                }

                if (this.page.type === 'lessonpage' || this.page.type === 'tipspage') {
                    return false;
                }

                if (this.page.type === 'coursepage' && this.riotHash[0] === 'exam') {
                    return false;
                }

                return true;
            },
        };
    </script>
</BottomMenu>
