<BottomMenu>
    <footer if="{showBottomMenu()}">
        <div class="bottom-menu">
            <a href="#">
                <span class="all-courses-icon { props.page.type === 'homepage' ? 'active' : ''}">
                </span>
            </a>
            <a href="#profile">
                <span class="profile-icon { props.page.type === 'profile' ? 'active' : ''}">
                </span>
            </a>
            <a href="#resources">
                <span class="resources-icon { props.page.type === 'resourcesroot' ? 'active' : ''}">
                </span>
            </a>
            <a href="#sync" if="{shouldShowSync()}">
                <span class="resources-icon { props.page.type === 'sync' ? 'active' : ''}">
                </span>
            </a>
        </div>
    </footer>

    <script>
        import { getRoute } from "ReduxImpl/Interface";
        import { inAppelflap } from "ts/PlatformDetection";

        function getState() {
            const route = getRoute();
            return {
                section: route.riotHash ? route.riotHash[0] : ""
            }
        }
        export default {
            state: getState(),

            shouldShowSync() {
                return inAppelflap();
            },
            showBottomMenu() {
                if (this.props.page.type === 'lessonpage' && this.state.section) {
                    return false;
                }
                if (this.props.page.type === 'coursepage' && this.state.section) {
                    return false;
                }
                return true;
            },

            storeListener(previousStoreState, storeState) {
                const newState = getState();
                if (this.state.section !== newState.section) {
                    this.update(newState);
                }
            }
        };
    </script>
</BottomMenu>
