<Card>
    <a class="card {props.status}" href="#{props.course ? props.course.id : props.link}">
        <div class="card-image">
            <span class="card-status">
                <span class="status-icon"></span>
            </span>
        </div>
        <div class="card-title">
            <h5>{props.course ? props.course.title : props.title}</h5>
            <progress
                if="{props.status != 'not-started'}"
                value="{props.status == 'complete' ? '1' : props.course.numberOfFinishedLessons}"
                max="{props.status == 'complete' ? '1' : props.course.numberOfLessons}"
            ></progress>
        </div>
    </a>
</Card>
