<Card>
    <span if="{ props.debugState }">
        { JSON.stringify(props, null, 2) }
    </span>
    <a class="card {statusClass()}" href="#{link()}">
        <div class="card-image">
            <img crossorigin="anonymous" src="{getCardImage()}" class="card-hero-image" />
            <span class="card-status"><span class="icon"></span></span>
        </div>
        <div class="card-title">
            <h5 class="clamp-lines">{ title() }</h5>
            <progress
                if="{ progressValues() }"
                value="{ progressValues().min}"
                max="{ progressValues().max }"
            ></progress>
        </div>
    </a>
    <script>
        import {getCardImageUrl} from "js/utilities";

        export default {
            getCardImage() {
                return getCardImageUrl(this.props.link || this.props.contentItem.id, this.props.imageUrl);
            },

            title() {
                return this.props.title || this.props.contentItem.title;
            },
            statusClass() {
                return this.props.status || this.props.contentItem.progressStatus;
            },
            link() {
                return this.props.link || this.props.contentItem.loc_hash;
            },
            progressValues() {
                if (this.props.hasOwnProperty('progressValues')) {
                    return this.props.progressValues;
                } else {
                    return this.props.contentItem.progressValues;
                };
            },
        };
    </script>
</Card>
