<ContactInformation>
    <div class="custom-contact-container">
        <p>{ TRANSLATIONS.sendMessage() }</p>
        <button class="btn-primary" onclick="{sendWhatsAppMessage}">
            { TRANSLATIONS.whatsapp() }
        </button>
        <p class="sm-note">{ TRANSLATIONS.noWhatsapp() }</p>
        <button class="btn-secondary" onclick="{sendSmsMessage}">{ TRANSLATIONS.sms() }</button>
    </div>

    <script>
        const phoneNumber = "19788675309";

        export default {
            TRANSLATIONS: {
                sendMessage: () => gettext("Send us a message and we'll help you log in"),
                whatsapp: () => gettext("Send WhatsApp"),
                noWhatsapp: () => gettext("Don't have WhatsApp?"),
                sms: () => gettext("Send SMS"),
                help: () => gettext("I need help accessing my account"),
            },

            encodedMessage() {
                return encodeURIComponent(this.TRANSLATIONS.help());
            },

            sendWhatsAppMessage() {
                const whatsAppHref = `https://wa.me/${phoneNumber}?text=${this.encodedMessage()}`;
                window.open(whatsAppHref, "_blank");
                this.props.toggleLoginHelpModal();
            },

            sendSmsMessage() {
                const smsHref = `sms:${phoneNumber}?&body=${this.encodedMessage()}`;
                window.open(smsHref, "_blank");
                this.props.toggleLoginHelpModal();
            },
        };
    </script>
</ContactInformation>
