<ContinueLearningButton>
    <div>
        <a href="#{state.currentCourse && state.currentCourse.data.id}">
            <div class="btn-continue-learning">
                <p>Continue learning</p>
                <span class="arrow background-gray-2"></span>
            </div>
        </a>
    </div>

    <script>
        import { getMostRecentlyVisitedCourse } from "js/utilities";

        export default {
            state: {
                currentCourse: null
            },

            async renderContinueLearningButton() {
                const lastWorkedOnCourse = await getMostRecentlyVisitedCourse();

                this.update({
                    currentCourse: lastWorkedOnCourse
                });
            },

            onMounted() {
                this.renderContinueLearningButton();
            }
        };
    </script>
</ContinueLearningButton>
