<DataDownload>
    <script>
        import { storeManifest, storeSiteDownloadedIs } from "ReduxImpl/Store";
        import { fetchManifest } from "js/WagtailPagesAPI";
        import { SiteDownloader } from "js/SiteDownloader";
        import { updateApi, updateIdb } from "Actions/actions_store.js";
        import { pullCompletionsIntoMemory, clearInMemoryCompletions } from "Actions/completion.js";
        import {
            pullExamAnswersIntoMemory,
            clearInMemoryExamAnswers,
            pullExamScoresIntoMemory,
            clearInMemoryExamScores,
        } from "Actions/Exams";
        import { closeAndDeleteDB } from "Actions/actions_idb";
        import { dispatchLoggedInEvent } from "js/Events";
        import { isGuestUser } from "js/AuthenticationUtilities";

        const EVERY_FIVE_MINUTES = 1000 * 60 * 5;

        export default {
            state: {
                pagesPoller: null,
                completionPoller: null,
            },

            onMounted() {
                this.prepDataForAppLaunch();
            },

            onUnmounted() {
                this.clearAppData();
            },

            async pollForWebpageChanges() {
                const manifest = await fetchManifest();
                storeManifest(manifest);
                new SiteDownloader().requestTheSitesPagesAndImages();
            },

            async pullExamDataIntoMemory() {
                await pullExamAnswersIntoMemory();
                await pullExamScoresIntoMemory();
            },

            async startCompletionsService() {
                await updateIdb();
                await pullCompletionsIntoMemory();
                await this.pullExamDataIntoMemory();
            },

            async prepDataForAppLaunch() {
                if (!isGuestUser()) {
                    await this.startCompletionsService();
                    this.state.pagesPoller = window.setInterval(
                        this.pollForWebpageChanges,
                        EVERY_FIVE_MINUTES
                    );
                } else {
                    // Pulls completions from the database into memory.
                    await pullCompletionsIntoMemory();
                    await pullExamAnswersIntoMemory();
                }

                this.pollForWebpageChanges();
                this.state.completionPoller = window.setInterval(updateApi, EVERY_FIVE_MINUTES);

                storeSiteDownloadedIs(true);
                dispatchLoggedInEvent();
            },

            async clearAppData() {
                window.clearInterval(this.state.completionPoller);
                window.clearInterval(this.state.pagesPoller);
                storeSiteDownloadedIs(false);
                clearInMemoryCompletions();
                clearInMemoryExamAnswers();
                clearInMemoryExamScores();
                await closeAndDeleteDB();
            },
        };
    </script>
</DataDownload>
