<DiscussionThread>
    <div class="card full-width">
        <div class="lesson-title">
            <span class="arrow" onclick="{() => props.selectDiscussionHandler(null)}"></span>
            <p class="number">{props.lessonNumber}</p>
            <p class="title">{props.lesson.title}</p>
        </div>
        <div class="discussion-header">
            <h2 class="no-clamp">{props.question.question}</h2>
        </div>
        <div id="comment-input" class="form-group">
            <label for="comment">{TRANSLATIONS.addComment()}</label>
            <textarea
                name="comment"
                id="comment"
                oninput="{updateCommentValue}"
                onfocus="{setInputFocus}"
                onblur="{removeInputFocus}"
                maxlength="280"
            ></textarea>
        </div>
        <button
            if="{state.commentButtonVisible}"
            class="btn-primary"
            onclick="{addComment}">
            {TRANSLATIONS.postComment()}
        </button>

        <div if="{!state.comments.length}">
            <LoadingDots if="{state.loading}"></LoadingDots>
            <p>TODO (need design): Be the first to contribute to the conversation! Add a comment above.</p>
        </div>

        <template if="{state.comments.length}">
            <div class="sort-options">
                <p class="label">{TRANSLATIONS.sort()}</p>
                <div class="dropdown">
                    <p class="active" onclick="{toggleSort}">
                        {state.activeSortOption.label}
                        <span class="caret" if="{state.showSortOptions}">&#9650;</span>
                        <span class="caret" if="{!state.showSortOptions}">&#9660;</span>
                    </p>
                    <div if="{state.showSortOptions}" class="option">
                        <p class="option" each="{option in state.sortOptions}" if="{option.label !== state.activeSortOption.label}" onclick="{() => sortComments(option)}">{option.label}</p>
                    </div>
                </div>
            </div>

            <DiscussionComment
                if="{!state.loading}"
                each="{comment in mapComments()}"
                comment="{comment}"
                lesson="{props.lesson}"
                addReply="{addReply}"
                updateCommentValue="{updateCommentValue}"
                setInputFocus="{setInputFocus}"
                removeInputFocus="{removeInputFocus}"
            ></DiscussionComment>
        </template>


    </div>

    <div id="toast-message">
        <span class="checkmark"></span>
        <p>{TRANSLATIONS.commentConfirmed()}</p>
    <div>

    <script>
        import DiscussionComment from "RiotTags/Components/DiscussionComment.riot.html";

        import { postComment, getDiscussionComments } from "js/DiscussionUtilities";
        import { v4 as uuidv4 } from "uuid";

        function DiscussionThread() {
            return {
                state: {
                    commentButtonVisible: false,
                    loading: false,
                    comments: [],
                    sortOptions: [
                        { sort: 'date_created', order: 'desc', label: gettext('Newest First') },
                        { sort: 'date_created', order: 'asc', label: gettext('Oldest First') }
                    ],
                    activeSortOption: { sort: 'date_created', order: 'desc', label: 'Newest First' },
                    showSortOptions: false,
                },

                TRANSLATIONS: {
                    addComment: () => gettext("Add a comment"),
                    postComment: () => gettext("Post comment"),
                    sort: () => gettext("Sort by"),
                    commentConfirmed: () => gettext("Comment posted"),
                },

                onBeforeMount(props, state) {
                    this.updateComments();
                },

                toggleSort() {
                    this.update({showSortOptions: !this.state.showSortOptions})
                },

                sortComments(sortOption) {
                    const sortOptions = this.state.sortOptions;
                    const comments = this.state.comments;

                    if (sortOption.order === 'asc') {
                        comments.sort((a, b) => a[sortOption.sort] - b[sortOption.sort]);
                    }
                    else if (sortOption.order === 'desc') {
                        comments.sort((a, b) => b[sortOption.sort] - a[sortOption.sort]);
                    }

                    this.update({
                        comments,
                        activeSortOption: sortOption,
                        showSortOptions: false,
                    });
                },

                mapComments() {
                    const comments = this.state.comments;

                    return comments.map((comment, index, array) => ({
                        ...comment,
                        initials: this.getInitials(comment.user_username),
                        replies: array.filter((it) => it.parent_id === comment.id)
                            .map(it => ({
                                ...it,
                                initials: this.getInitials(it.user_username)
                            })),
                    }))
                    .filter((comment) => comment.parent_id === null);
                },

                updateCommentValue() {
                    const commentInput = this.$("#comment");

                    if (commentInput.value.length) {
                        this.update({commentButtonVisible: true});
                    }
                    else this.update({commentButtonVisible: false});
                },

                setInputFocus(event) {
                    const fieldElement = `#${event.target.id}-input`;
                    this.$(fieldElement).classList.add("has-focus");
                },

                removeInputFocus(event) {
                    const fieldElement = `#${event.target.id}-input`;
                    const fieldHasValue = event.target.value != "";

                    this.$(fieldElement).classList.remove("has-focus");

                    if (fieldHasValue && !this.$(fieldElement).classList.contains("is-filled")) {
                        this.$(fieldElement).classList.add("is-filled");
                    } else if (!fieldHasValue) {
                        this.$(fieldElement).classList.remove("is-filled");
                    }
                },

                getInitials(name) {
                    const arr = name.split(' ');
                    const first = arr[0];
                    const last = arr.length > 1 ? arr[arr.length - 1] : '';
                    const firstInitial = first[0];
                    const secondInitial = last ? last[0] : '';
                    return `${firstInitial.toUpperCase()}${secondInitial.toUpperCase()}`
                },

                updateComments() {
                    this.state.loading = true;

                    getDiscussionComments(this.props.question.id).then((response) => {
                        this.update({ comments: response, loading: false });
                    });
                },

                addComment() {
                    const commentInput = this.$('#comment');

                    const newComment = {
                        external_id: this.props.lesson.id,
                        discussion_id: this.props.question.id,
                        date_created: new Date().toISOString().replace('Z', '+00:00'),
                        comment: commentInput.value,
                        id: uuidv4(),
                        posting_type: 'C',
                    }

                    postComment(newComment).then((response) =>{
                        if (!response.ok) throw new Error(`Comment failed, HTTP status: ${response.status}`);

                        this.updateComments();
                        this.commentSuccess(newComment.id)
                    });


                    commentInput.value = '';
                },

                addReply(reply) {
                    const newReply = {
                        ...reply,
                        external_id: this.props.lesson.id,
                        discussion_id: this.props.question.id,
                    }

                    postComment(newReply).then((response) =>{
                        if (!response.ok) throw new Error(`Comment failed, HTTP status: ${response.status}`);

                        this.updateComments();
                        this.commentSuccess(newReply.id)
                    });
                },

                commentSuccess(id) {
                    const toast = document.getElementById('toast-message');
                    toast.className = 'show';
                    setTimeout(function() {
                        toast.className = toast.className.replace('show', '');
                    }, 3000);

                    const newCommentEl = document.getElementById(id);
                    newCommentEl.className = 'recent';
                    setTimeout(function () {
                        newCommentEl.className = '';
                    }, 6000)
                },
            };
        };

        DiscussionThread.components = {
            discussioncomment: DiscussionComment,
        };

        export default DiscussionThread;
    </script>
</DiscussionThread>
