<DiscussionThread>
    <div class="card">
        <div class="lesson-title">
            <p class="number">{props.lessonNumber}</p>
            <p class="title">{props.lesson.title}</p>
        </div>
        <div class="bottom-row">
            <span class="arrow" onclick="{() => props.selectDiscussionHandler(null)}"></span>
            <div class="question">
                <h2>{props.question}</h2>
            </div>
        </div>
        <div id="comment-input" class="form-group">
            <label for="comment">{TRANSLATIONS.addComment()}</label>
            <textarea
                name="comment"
                id="comment"
                oninput="{updateCommentValue}"
                onfocus="{setInputFocus}"
                onblur="{removeInputFocus}"
            ></textarea>
        </div>
        <button
            if="{state.commentButtonVisible}"
            class="btn-primary"
            onclick="{addComment}">
            {TRANSLATIONS.postComment()}
        </button>

        <div class="sort-options">
            <p class="active" onclick="{showSort}">{TRANSLATIONS.sort()} {state.activeSortOption.label}</p>
            <div if="{state.showSortOptions}" class="options">
                <p class="option" each="{option in state.sortOptions}" onclick="{() => sortComments(option)}">{option.label}</p>
            </div>
        </div>

        <DiscussionComment
            each="{comment in mapComments()}"
            comment="{comment}"
            user="{state.user}"
            addReply="{addReply}"
            updateCommentValue="{updateCommentValue}"
            setInputFocus="{setInputFocus}"
            removeInputFocus="{removeInputFocus}"
        ></DiscussionComment>
    </div>

    <script>
        import DiscussionComment from "RiotTags/Components/DiscussionComment.riot.html";

        import { getUser } from "ReduxImpl/Interface";

        function DiscussionThread() {
            return {
                state: {
                    commentButtonVisible: false,
                    // TODO: this will come from the backend
                    comments: [
                    {
                        id: 1618267587850,
                        parentId: null,
                        userId: '6',
                        username: 'Kevin Bacon',
                        timestamp: new Date('27 march 2021'),
                        text: 'Porpoises are purposeful',
                        // ask backend about flat array vs. nested array for replies
                    }, {
                        id: 1618267586676,
                        parentId: null,
                        userId: '1',
                        username: 'Stacey Reed',
                        timestamp: new Date('17 january 2021'),
                        text: 'I think porpoises are quite cute',
                    }, {
                        id: 1618267585505,
                        parentId: null,
                        userId: '14',
                        username: 'Alan Tate',
                        timestamp: new Date('3 october 2020'),
                        text: 'Porpoises make very good friends for dolphins & whales',
                    }, {
                        id: 1618267582777,
                        parentId: null,
                        userId: '29',
                        username: 'Katie Johnson',
                        timestamp: new Date('15 april 2015'),
                        text: 'Porpoises are sometimes mistaken for mermaids',
                    }, {
                        id: 1618360446287,
                        parentId: 1618267587850,
                        userId: '75',
                        username: 'Camila García',
                        timestamp: new Date('12 april 2021'),
                        text: 'I don\'t think that\'s entirely true.'
                    }, {
                        id: 1618267587249,
                        parentId: 1618267587850,
                        userId: '14',
                        username: 'Alan Tate',
                        timestamp: new Date('28 march 2021'),
                        text: 'I agree!',
                    }],
                    user: getUser(),
                    // TODO will sorting be done on the API, or in the FE?
                    sortOptions: [
                        { sort: 'timestamp', order: 'desc', label: 'Newest First' },
                        { sort: 'timestamp', order: 'asc', label: 'Oldest First' }
                    ],
                    activeSortOption: { sort: 'timestamp', order: 'desc', label: 'Newest First' },
                    showSortOptions: false,
                },

                TRANSLATIONS: {
                    addComment: () => gettext("Add a comment"),
                    postComment: () => gettext("Post comment"),
                    sort: () => gettext("Sort by"),
                },

                showSort() {
                    this.update({showSortOptions: true})
                },

                sortComments(sortOption) {
                    const sortOptions = this.state.sortOptions;
                    const comments = this.state.comments;

                    if (sortOption.order === 'asc') {
                        comments.sort((a, b) => a[sortOption.sort] - b[sortOption.sort]);
                    }
                    else if (sortOption.order === 'desc') {
                        comments.sort((a, b) => b[sortOption.sort] - a[sortOption.sort]);
                    }

                    this.update({
                        comments,
                        activeSortOption: sortOption,
                        showSortOptions: false,
                    });
                },

                mapComments() {
                    // TODO: default sorting
                    const comments = this.state.comments;

                    return comments.map((comment, index, array) => ({
                        ...comment,
                        initials: this.getInitials(comment.username),
                        replies: array.filter((it) => it.parentId === comment.id)
                            .map(it => ({
                                ...it,
                                initials: this.getInitials(it.username)
                            })),
                    }))
                    .filter((comment) => comment.parentId === null);
                },

                updateCommentValue() {
                    const commentInput = this.$("#comment");

                    if (commentInput.value.length) {
                        this.update({commentButtonVisible: true});
                    }
                    else this.update({commentButtonVisible: false});
                },

                setInputFocus(event) {
                    const fieldElement = `#${event.target.id}-input`;
                    this.$(fieldElement).classList.add("has-focus");
                },

                removeInputFocus(event) {
                    const fieldElement = `#${event.target.id}-input`;
                    const fieldHasValue = event.target.value != "";

                    this.$(fieldElement).classList.remove("has-focus");

                    if (fieldHasValue && !this.$(fieldElement).classList.contains("is-filled")) {
                        this.$(fieldElement).classList.add("is-filled");
                    } else if (!fieldHasValue) {
                        this.$(fieldElement).classList.remove("is-filled");
                    }
                },

                getInitials(name) {
                    const arr = name.split(' ');
                    const first = arr[0];
                    const last = arr.length > 1 ? arr[arr.length - 1] : '';
                    const firstInitial = first[0];
                    const secondInitial = last ? last[0] : '';
                    return `${firstInitial.toUpperCase()}${secondInitial.toUpperCase()}`
                },

                addComment() {
                    const commentInput = this.$('#comment');

                    const newComment = {
                        id: new Date() - 1,
                        parentId: null,
                        userId: this.state.user.userId,
                        username: this.state.user.username,
                        timestamp: new Date(),
                        text: commentInput.value,
                    }
                    // TODO post the comment when backend ready
                    this.update({
                        comments: [newComment].concat(...this.state.comments),
                    })
                    commentInput.value = '';
                },

                addReply(reply) {
                    this.update({
                        comments: [reply].concat(...this.state.comments),
                    })
                }
            };
        };

        DiscussionThread.components = {
            discussioncomment: DiscussionComment,
        };

        export default DiscussionThread;
    </script>
</DiscussionThread>
