<DiscussionComment id="{props.comment.id}">
    <UserAvatar username="{props.comment.user_username}">
        <p>{props.comment.initials}</p>
    </UserAvatar>
    <div class="comment-block">
        <div class="meta">
            <a>{props.comment.user_first_name} {props.comment.user_last_name}</a>
            <p>&middot;</p>
            <p>{state.elapsedTime}</p>
        </div>
        <p class="comment">
            {props.comment.comment}
        </p>
        <div class="controls">
            <p class="reply" onclick="{openReplyTextbox}">{TRANSLATIONS.reply()} <span class="reply-arrow"></span></p>
            <p>&middot;</p>
            <p onclick="{flagInappropriate}">{TRANSLATIONS.flag()} <span class="flag"></span></p>
        </div>
        <div if="{props.comment.replies.length}" class="toggle-replies" onclick="{toggleReplies}">
            <template if="{state.showReplies}">&minus;</template>
            <template if="{!state.showReplies}">&plus;</template>
        </div>
    </div>
    <div class="reply-container">
        <div if="{state.showReplyTextbox}" id="reply-input" class="form-group">
            <label for="reply">{TRANSLATIONS.addReply()}</label>
            <textarea
                name="reply"
                id="reply"
                oninput="{props.updateCommentValue}"
                onfocus="{props.setInputFocus}"
                onblur="{props.removeInputFocus}"
                maxlength="280"
            ></textarea>
        </div>
        <button if="{state.showReplyTextbox}" class="btn-primary" onclick="{addReply}">
            {TRANSLATIONS.postComment()}
        </button>
    </div>
    <div if="{props.comment.replies.length && state.showReplies}" class="reply-thread">
        <DiscussionReply
            if="{props.comment.replies.length}"
            each="{reply in props.comment.replies}"
            comment="{reply}"
            flagInappropriate="{props.flagInappropriate}"
        ></DiscussionReply>
    </div>

    <script>
        import DiscussionReply from "RiotTags/Components/DiscussionReply.riot.html";
        import UserAvatar from "RiotTags/Components/UserAvatar.riot.html";

        import {getElapsedTime} from "js/utilities";
        import { v4 as uuidv4 } from "uuid";

        export default {
            components: {
                discussionreply: DiscussionReply,
                useravatar: UserAvatar,
            },

            state: {
                showReplyTextbox: false,
                showReplies: true,
                elapsedTime: '',
            },

            TRANSLATIONS: {
                reply: () => gettext("Reply"),
                flag: () => gettext("Flag as inappropriate"),
                addReply: () => gettext("Add a reply"),
                postComment: () => gettext("Post a comment"),
            },

            onMounted(props, state) {
                this.getDate();
            },

            onUpdated(props, state) {
                // resolves a bug with the timestamps not updating correctly
                this.state.oldProps = this.state.newProps;
                this.state.newProps = props;
                if (this.state.oldProps && this.state.oldProps.comment.id !== this.state.newProps.comment.id) {
                    this.getDate();
                }
            },

            toggleReplies() {
                this.update({showReplies: !this.state.showReplies});
            },

            getDate() {
                this.update({ elapsedTime: getElapsedTime(this.props.comment.date_created) });
                setTimeout(this.getDate, 60000);
            },

            addReply() {
                const commentInput = this.$("#reply");

                const newComment = {
                    date_created: new Date().toISOString().replace('Z', '+00:00'),
                    comment: commentInput.value,
                    id: uuidv4(),
                    parent_id: this.props.comment.id,
                }

                this.props.addReply(newComment, commentInput, this.closeReplyTextbox);
            },

            flagInappropriate () {
                this.props.flagInappropriate(this.props.comment);
            },

            openReplyTextbox() {
                this.update({showReplyTextbox: true});
            },

            closeReplyTextbox() {
                this.update({showReplyTextbox: false});
            },
        };

    </script>
</DiscussionComment>
