<DiscussionReply>
    <UserAvatar userId="{props.comment.userId}">
        <p>{props.comment.initials}</p>
    </UserAvatar>

    <div class="comment-block">
        <a class="name">{props.comment.username}</a>
        <p class="time"> &middot; {state.elapsedTime}</p>
        <p class="comment">
            {props.comment.text}
        </p>
    </div>

    <script>
        import UserAvatar from "RiotTags/Components/UserAvatar.riot.html";
        import {getElapsedTime} from "js/utilities";

        export default {
            components: {
                useravatar: UserAvatar,
            },

            state: {
                elapsedTime: '',
            },

            onMounted(props, state) {
                this.getDate();
            },

            getDate() {
                this.update({ elapsedTime: getElapsedTime(this.props.comment.timestamp) });
                setTimeout(this.getDate, 60000);
            },
        };

    </script>
</DiscussionReply>
