<DiscussionReply id="{props.comment.id}">
    <UserAvatar userId="{props.comment.userId}">
        <p>{props.comment.initials}</p>
    </UserAvatar>

    <div class="comment-block">
        <div class="meta">
            <a>{props.comment.username}</a>
            <p>&middot;</p>
            <p>{state.elapsedTime}</p>
        </div>
        <p class="comment">
            {props.comment.text}
        </p>
        <div class="controls">
            <p>Flag as inappropriate <span class="flag"></span></p>
        </div>
    </div>

    <script>
        import UserAvatar from "RiotTags/Components/UserAvatar.riot.html";
        import {getElapsedTime} from "js/utilities";

        export default {
            components: {
                useravatar: UserAvatar,
            },

            state: {
                elapsedTime: '',
            },

            onMounted(props, state) {
                this.getDate();
            },

            getDate() {
                this.update({ elapsedTime: getElapsedTime(this.props.comment.timestamp) });
                setTimeout(this.getDate, 60000);
            },
        };

    </script>
</DiscussionReply>
