<DownloadSite>
    <script>
        import SiteDownloader from "@/SiteDownloader";

        const EVERY_FIVE_MINUTES = 1000 * 60 * 5;

        export default {
            state: {
                pagesPoller: null,
            },

            onMounted() {
                this.state.pagesPoller = window.setInterval(() => {
                    const downloader = new SiteDownloader();
                    downloader.requestTheSitesPagesAndImages();
                }, EVERY_FIVE_MINUTES);

                new SiteDownloader().requestTheSitesPagesAndImages();
            },
        };
    </script>
</DownloadSite>
