<GuestBanner>
    <div if="{state.isBannerVisible}" class="{state.isBannerClosing ? 'close' : ''}">
        <a if="{!state.isBannerClosing}" class="cross" onclick="{closingBanner}"></a>
        <p>{ TRANSLATIONS.guest() }</p>
        <p>{ TRANSLATIONS.data() }</p>
        <a href="#login">LOGIN</a>
    </div>

    <script>
        import { toggleGuestBanner, isGuestBannerVisible } from "ReduxImpl/Interface";

        export default () => { return {
            state: {
                isBannerClosing: false,
                isBannerVisible: isGuestBannerVisible(),
            },

            TRANSLATIONS: {
                guest: () => gettext("You're a guest"),
                data: () => gettext("No data or progress will be saved"),
            },

            closeBanner() {
                toggleGuestBanner(false);
                this.update({
                    isBannerVisible: false,
                });
            },

            closingBanner() {
                this.update({ isBannerClosing: true });
                setTimeout(() => this.closeBanner(), 500);
            },
        }};
    </script>
</GuestBanner>
