<HandleError>
    <div class="error">
        <h2>{ TRANSLATIONS.title() }</h2>
        <p>
            { message }
        </p>
    </div>

    <script>
        import { getRoute } from "ReduxImpl/Interface";

        export default {
            TRANSLATIONS: {
                title: () => gettext("Whoops! Something has gone wrong"),
                no_manifest: () => gettext("Sorry, we cannot retrieve site content."),
                not_found: () => gettext("Sorry, we cannot find this site content."),
                unknown: () => gettext("Sorry, an unexpected error has occurred.")
            },

            get error() {
                return getRoute().page;
            },
            get message() {
                const translation = this.TRANSLATIONS[this.error.errorType];
                return translation ? translation() : this.TRANSLATIONS.unknown();
            }
        }

    </script>
    <style>

        handleerror {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .error {
            padding: 50px;
            margin: auto;
            text-align: center;
        }
    </style>
</HandleError>
