<ImageWrapper>
    <img
        if="{state.imagePath}"
        alt="{props.image.alt}"
        class="richtext-image"
        crossorigin="anonymous"
        src="{state.imagePath}"
    />
    <p class="error-message" if="{!state.imagePath}">
        Error: image "{props.image.alt}", is missing.
    </p>

    <script>
        import { getRoute } from "ReduxImpl/Interface";
        import { getRenditionUrl } from "js/RenditionSelector";

        export default {
            state: {
                imagePath: "",
            },

            onBeforeMount(props, state) {
                this.page = getRoute().page;
                const asset = this.page.getImageRenditions(
                    props.image.id
                );
                this.state.imagePath = getRenditionUrl(asset.renditions);
            },
        };
    </script>
</ImageWrapper>
