<LanguageToggle>
    <input
        type="radio"
        id="tetum"
        name="language"
        value="tetum"
        checked="{state.language === 'tetum'}"
        onchange="{setLanguage}"
    />
    <label for="tetum">Tetum</label>
    <input
        type="radio"
        id="english"
        name="language"
        value="english"
        checked="{state.language === 'english'}"
        onchange="{setLanguage}"
    />
    <label for="english">English</label>

    <script>
        import { getLanguage, changeLanguage } from "ReduxImpl/Store";

        export default function LanguageToggle() {
            const language = getLanguage();
            return {
                state: {
                    language,
                },

                setLanguage(e) {
                    changeLanguage(e.currentTarget.value);
                },

                storeListener() {

                }
            };
        }
    </script>
</LanguageToggle>
