<LanguageSelector>
	<h4 translate>Language</h4>

    <select id="language" name="language" onchange={ setLanguage }>
        <option value="tet" selected={state.language=='tet'}>Tetum</option>
        <option value="en" selected={state.language=='en'}>English</option>
    </select>
    <script>
        import { getLanguage, changeLanguage } from "ReduxImpl/Store";

        export default function LanguageSelector() {
            return {
                state: { 
                    language: getLanguage(),
                },
                setLanguage(e) {
                    changeLanguage(e.currentTarget.value);
                }
            }
        }
        
    </script>
</LanguageSelector>
