<LanguageSelector>
    <template if="{ availableLanguageCodes.length > 1 }">
        <label for="language">{ TRANSLATIONS.language() }</label>

        <div class="select-wrapper">
            <select id="language" name="language" onchange="{ setLanguage }">
                <option each="{ langCode in availableLanguageCodes }"
                value="{ langCode }"
                selected="{ langCode === currentLanguage }">
                { languageName(langCode) }
                </option>
            </select>
        </div>
    </template>

    <script>
        import { getLanguage, changeLanguage } from "ReduxImpl/Interface";
        import { SUPPORTED_LANG_CODES, AVAILABLE_LANGUAGES, LANGUAGE_STORAGE_KEY } from "js/Translation";

        export default function LanguageSelector() {
            return {
                TRANSLATIONS: {
                    language: () => gettext("Select your language"),
                },
                get currentLanguage() {
                    return getLanguage();
                },
                get availableLanguageCodes() {
                    return SUPPORTED_LANG_CODES;
                },
                languageName(langCode) {
                    return AVAILABLE_LANGUAGES[langCode];
                },
                setLanguage(e) {
                    changeLanguage(e.currentTarget.value);
                    localStorage.setItem(LANGUAGE_STORAGE_KEY, e.currentTarget.value)
                },
            };
        }
    </script>
</LanguageSelector>
