<LessonFrame>
    <TopMenu>
        <a class="cross top-icon right" href="#"></a>
    </TopMenu>
    <div class="frame-background">
        <div class="card-frame">
            <div class="card-container {props.extrastyleclasses}">
                <slot />
            </div>
        </div>
    </div>

    <script>
        import TopMenu from "RiotTags/Components/TopMenu.riot.html";

        export default {
            components: {
                topmenu: TopMenu
            }
        }
    </script>
</LessonFrame>
