<LessonFrame>
    <TopMenu extrastyleclasses="without-swoop">
        <template if="{props.progressValue}">
            <p class="card-number">
                <span class="current-card">{ props.progressValue }</span
                ><span class="slash">/</span>{ props.progressMax }
            </p>
            <progress
                value="{props.progressValue}"
                max="{props.progressMax}"
            ></progress>
        </template>
        <a
            if="{props.noCardStyle}"
            class="has-circle top-icon left"
            href="#{props.linkTo}"
        >
            <span class="arrow"></span>
        </a>
        <h5 if="{props.resourceTitle}">{props.resourceTitle}</h5>
        <a
            if="{!props.noCardStyle}"
            class="top-icon right extra-clickable-space"
            onclick="{closeFrame}"
        >
            <span class="cross gray"></span>
        </a>
    </TopMenu>
    <div class="frame-background {userAgent()}">
        <div class="{!props.noCardStyle ? 'card-frame' : 'no-card'}">
            <div class="card-content {props.extrastyleclasses}">
                <slot />
            </div>
            <template if="{!props.noCardStyle}">
                <div class="card-shadow"></div>
                <div class="card-shadow"></div>
            </template>
        </div>
    </div>

    <script>
        import TopMenu from "RiotTags/Components/TopMenu.riot.html";

        export default {
            components: {
                topmenu: TopMenu,
            },

            closeFrame() {
                this.props.close
                    ? this.props.close()
                    : (window.location.hash = `#${this.props.linkTo}`);
            },

            userAgent() {
                // https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent#browser_name
                const userAgentString = navigator.userAgent;
                let browser = '';
                let operatingSystem = '';

                if (userAgentString.includes('Safari/')
                    && !userAgentString.includes('Chrome/')
                    && !userAgentString.includes('Chromium/')) {
                    browser = 'safari';
                } else if (userAgentString.includes('Firefox/')
                    && !userAgentString.includes('Seamonkey/')) {
                    browser = 'firefox';
                } else if (userAgentString.includes('Chrome/')
                    && !userAgentString.includes('Chromium/')) {
                    browser = 'chrome';
                }

                if (userAgentString.includes('iPhone')) {
                    operatingSystem = 'ios';
                } else if (userAgentString.includes('Android')) {
                    operatingSystem = 'android';
                }

                return `${browser} ${operatingSystem}`;
            }
        };
    </script>
</LessonFrame>
