<LoadCompletions>
    <script>
        import {
            signalCompletionsAreReady,
            signalCompletionsAreNotReady,
        } from "ReduxImpl/Interface";
        import {
            isGuestUser,
            setUserAuthStatus,
        } from "js/AuthenticationUtilities";
        import {
            pullExamDataIntoMemory,
            clearInMemoryExamData,
        } from "js/ExamInterface";
        import {
            pullCompletionsIntoMemory,
            clearInMemoryCompletions,
        } from "js/CompletionInterface";
        import { updateApi, updateIdb } from "Actions/actions_store.js";
        import { closeAndDeleteDB } from "Actions/actions_idb";

        const EVERY_FIVE_MINUTES = 1000 * 60 * 5;

        export default {
            state: {
                completionPoller: null,
            },

            onMounted() {
                this.prepDataForAppLaunch();
            },

            onUnmounted() {
                this.clearAppData();
            },

            async prepDataForAppLaunch() {
                if (!isGuestUser()) {
                    await updateIdb();
                    this.state.completionPoller = window.setInterval(
                        updateApi,
                        EVERY_FIVE_MINUTES
                    );
                }

                await this.pullIdbDataIntoMemory();

                signalCompletionsAreReady();
                // Normally this will have already occured in AuthenticationUtilities.login
                setUserAuthStatus(true);
            },

            async pullIdbDataIntoMemory() {
                await pullCompletionsIntoMemory();
                await pullExamDataIntoMemory();
            },

            async clearAppData() {
                if (!!this.state.clearingAppData) {
                    return;
                }
                this.state.clearingAppData = true;

                window.clearInterval(this.state.pagesPoller);
                signalCompletionsAreNotReady();
                clearInMemoryCompletions();
                clearInMemoryExamData();
                await closeAndDeleteDB();

                this.state.clearingAppData = false;
            },
        };
    </script>
</LoadCompletions>
