<LoadCompletions>
    <script>
        import {
            signalCompletionsAreReady,
            signalCompletionsAreNotReady,
        } from "ReduxImpl/Interface";
        import { dispatchLoggedInEvent } from "js/Events";
        import { isGuestUser } from "js/AuthenticationUtilities";
        import { pullExamDataIntoMemory, clearInMemoryExamData } from "js/Exams/ExamInterface";
        import {
            pullCompletionsIntoMemory,
            clearInMemoryCompletions,
        } from "js/CompletionInterface";
        import { updateApi, updateIdb } from "Actions/actions_store.js";
        import { closeAndDeleteDB } from "Actions/actions_idb";

        const EVERY_FIVE_MINUTES = 1000 * 60 * 5;

        export default {
            state: {
                completionPoller: null,
            },

            onMounted() {
                this.prepDataForAppLaunch();
            },

            onUnmounted() {
                this.clearAppData();
            },

            async prepDataForAppLaunch() {
                if (!isGuestUser()) {
                    await updateIdb();
                    this.state.completionPoller = window.setInterval(updateApi, EVERY_FIVE_MINUTES);
                }

                await this.pullIdbDataIntoMemory();

                signalCompletionsAreReady();
                dispatchLoggedInEvent();
            },

            async pullIdbDataIntoMemory() {
                await pullCompletionsIntoMemory();
                await pullExamDataIntoMemory();
            },

            async clearAppData() {
                window.clearInterval(this.state.pagesPoller);
                signalCompletionsAreNotReady();
                clearInMemoryCompletions();
                clearInMemoryExamData();
                await closeAndDeleteDB();
            },
        };
    </script>
</LoadCompletions>
