<LoginForm>
    <form onsubmit="{loginUser}" class="{state.errorExplanation ? 'has-error' : ''}">
        <div id="username-input" class="form-group">
            <label for="username">{ TRANSLATIONS.username() }</label>
            <input
                id="username"
                type="text"
                name="username"
                oninput="{clearError}"
                onfocus="{setInputFocus}"
                onblur="{removeInputFocus}"
            />
        </div>
        <div id="password-input" class="form-group password">
            <label for="password">{ TRANSLATIONS.password() }</label>
            <input
                id="password"
                type="password"
                name="password"
                oninput="{clearError}"
                onfocus="{setInputFocus}"
                onblur="{removeInputFocus}"
            />
            <a id="icon-box" onclick="{showPassword}" tabindex="0">
                <span class="eye crossout"></span>
                <p>{ state.isShowingPassword ? TRANSLATIONS.hide() : TRANSLATIONS.show() }</p>
            </a>
        </div>
        <div if="{state.errorExplanation}" class="error-message">
            <span class="warning"></span>
            <p>{state.errorExplanation}</p>
        </div>
        <button class="btn-primary" type="submit" disabled="{state.isLoginButtonDisabled}">
            { state.isLoginButtonDisabled ? TRANSLATIONS.checking() : TRANSLATIONS.login() }
            <LoadingDots if="{state.isLoginButtonDisabled}" extrastyleclasses="light"></LoadingDots>
        </button>
    </form>
    <script>
        import { alertIfRequestWasMadeOffline } from "js/Errors";
        import LoadingDots from "RiotTags/Components/LoadingDots.riot.html";

        export default {
            state: {
                isShowingPassword: false,
                isLoginButtonDisabled: false,
                errorExplanation: "",
                focusField: "username",
            },

            components: {
                loadingdots: LoadingDots,
            },

            TRANSLATIONS: {
                username: () => gettext("Username"),
                password: () => gettext("Password"),
                invalid: () => gettext("Your username or password is incorrect"),
                login: () => gettext("Login"),
                checking: () => gettext("Checking"),
                show: () => gettext("show"),
                hide: () => gettext("hide"),
            },

            onMounted() {
                this.$("#username").focus();
            },

            getUsernameAndPasswordFromForm() {
                const usernameInput = this.$("#username");
                const passwordInput = this.$("#password");

                const usernameAndPassword = {
                    username: usernameInput.value,
                    password: passwordInput.value,
                };
                return usernameAndPassword;
            },

            async loginUser(event) {
                event.preventDefault();
                const usernameAndPassword = this.getUsernameAndPasswordFromForm();
                await this.disableFormButtonAndLogin(usernameAndPassword);
            },

            async disableFormButtonAndLogin(usernameAndPassword) {
                try {
                    this.update({
                        isLoginButtonDisabled: true,
                    });
                    await this.props.loginFunction(usernameAndPassword);
                } catch (error) {
                    if (alertIfRequestWasMadeOffline(error)) {
                    } else if (error.message.includes("HTTP status: 400")) {
                        this.update({ errorExplanation: this.TRANSLATIONS.invalid() });
                    }
                } finally {
                    this.update({
                        isLoginButtonDisabled: false,
                    });
                }
            },

            showPassword() {
                const passwordElement = this.$("#password");
                const eyeIcon = this.$(".eye");

                if (passwordElement.type === "password") {
                    passwordElement.type = "text";
                    eyeIcon.classList.remove("crossout");
                } else {
                    passwordElement.type = "password";
                    eyeIcon.classList.add("crossout");
                }
                this.update({
                    isShowingPassword: !this.state.isShowingPassword,
                });
            },

            clearError() {
                if (this.state.errorExplanation) {
                    this.update({
                        errorExplanation: null,
                    });
                }
            },

            setInputFocus(event) {
                const fieldElement = `#${event.target.id}-input`;
                this.$(fieldElement).classList.add("has-focus");
            },

            removeInputFocus(event) {
                const fieldElement = `#${event.target.id}-input`;
                const fieldHasValue = event.target.value != "";

                this.$(fieldElement).classList.remove("has-focus");

                if (fieldHasValue && !this.$(fieldElement).classList.contains("is-filled")) {
                    this.$(fieldElement).classList.add("is-filled");
                } else if (!fieldHasValue) {
                    this.$(fieldElement).classList.remove("is-filled");
                }
            },
        };
    </script>
</LoginForm>
