<PushSubscription>
    <script>
        import {
            supportsPushManager,
            subscribeToNotifications,
            unsubscribeFromNotifications,
            isSubscribedToNotifications
        } from "js/Notifications";

        export default {
            async subscribe() {
                const browserSupportsNotifications = await supportsPushManager();

                if (browserSupportsNotifications) {
                    const alreadySubscribedToNotifications = await isSubscribedToNotifications();
                    if (alreadySubscribedToNotifications) {
                        return;
                    }
                    subscribeToNotifications();
                }
            },

            onMounted() {
                this.subscribe();
            },

            onUnmounted() {
                unsubscribeFromNotifications();
            }
        };
    </script>
</PushSubscription>
