<PushSubscription>
    <script>
        import { hasPushManagerSupport, subscribe, unsubscribe, isSubscribedToNotifications } from "js/Notifications";

        export default {
            async subscribeToNotifications() {
                const enabled = await hasPushManagerSupport();
                if ( enabled )
                {
                    const alreadySubscribedToNotifications = await isSubscribedToNotifications();

                    if (!alreadySubscribedToNotifications) {
                        subscribe();
                    }
                }
            },

            onMounted() {
                this.subscribeToNotifications();
            },

            onUnmounted() {
                unsubscribe();
            }
        };
    </script>
</PushSubscription>
