<PushSubscription>
    <script>
        import {
            supportsPushManager,
            subscribe,
            unsubscribe,
            isSubscribedToNotifications
        } from "js/Notifications";

        export default {
            async subscribeToNotifications() {
                const browserSupportsNotifications = await supportsPushManager();

                if (browserSupportsNotifications) {
                    const alreadySubscribedToNotifications = await isSubscribedToNotifications();
                    if (alreadySubscribedToNotifications) {
                        return;
                    }
                    subscribe();
                }
            },

            onMounted() {
                this.subscribeToNotifications();
            },

            onUnmounted() {
                unsubscribe();
            }
        };
    </script>
</PushSubscription>
