<raw>
    <script>
        import { component } from "riot";
        import ImageWrapper from "RiotTags/Components/ImageWrapper.riot.html";

        const mountImage = component(ImageWrapper);
        export default {
            setInnerHTML() {
                this.root.innerHTML = this.props.html;
                this.$$("embed").forEach(embed => {
                    mountImage(
                        embed.insertAdjacentElement(
                            "afterend",
                            document.createElement("div")
                        ),
                        {
                            image: {
                                id: embed.getAttribute("id"),
                                alt: embed.getAttribute("alt"),
                            }
                        }
                    );
                });
            },

            onMounted() {
                this.setInnerHTML();
            },

            onUpdated() {
                this.setInnerHTML();
            },
        };
    </script>
</raw>
