<ResourceCard>
    <a class="resource-card" href="#{props.link}">
        <h5>{props.title}</h5>
        <!-- <p class="card-content"></p> -->
    </a>
    <!-- <script>
        export default {
            setInnerHTML() {
                this.$(".card-content").innerHTML = this.props.title;
            },

            onMounted() {
				console.log(this.props.title);
                this.setInnerHTML;
            },

            onUpdated() {
                this.setInnerHTML;
            },
        };
    </script> -->
</ResourceCard>
