<SearchBar>
    <div class="form-group">
        <input
            id="search"
            type="text"
            value="{props.searchString}"
            oninput="{debounce(onSearchInput, SUBMIT_AFTER_THIS_MANY_MS)}"
        />
        <label class="{props.searchString ? 'hide' : ''}" for="search"></label>
        <span class="search-icon"></span>
    </div>

    <script>
        import { debounce } from "js/utilities";

        export default {
            SUBMIT_AFTER_THIS_MANY_MS: 250,

            onSearchInput() {
                console.log("searching...");
                const queryElement = this.$("#search");
                this.props.submitSearch(queryElement.value);
            },

            debounce(...args) {
                return debounce(...args);
            },
        };
    </script>
</SearchBar>
