<SearchBar>
    <div class="form-group">
        <input id="search" type="text" value="{props.searchString}"
            oninput="{debounce(onSearchInput, SUBMIT_AFTER_THIS_MANY_MS)}" />
        <label class="{getLanguage() === 'en' ? 'eng' : 'tet'} {props.searchString ? 'hide' : ''}" for="search"></label>
        <span class="search-icon"></span>
    </div>

    <script>
        import { debounce } from "js/utilities";
        import { getLanguage } from "ReduxImpl/Store";

        export default {
            SUBMIT_AFTER_THIS_MANY_MS: 250,

            onSearchInput() {
                const queryElement = this.$("#search");
                this.props.submitSearch(queryElement.value);
            },

            getLanguage() {
                return getLanguage();
            },

            debounce(...args) {
                return debounce(...args);
            },
        };
    </script>
</SearchBar>