<ServiceWorker>
    <script>
        import { ON_ADD_TO_HOME_SCREEN } from "js/Events";

        const SW_UPDATE_INTERVAL = 1000 * 60 * 60 * 4;
        let swUpdatePoller = null;

        export default {
            onMounted() {
                if (!("serviceWorker" in navigator)) {
                    return;
                }

                navigator.serviceWorker.register("sw.js").catch((err) => {
                    console.error(`Can't register Service Worker: ${err}`);
                });

                window.addEventListener("beforeinstallprompt", async (e) => {
                    e.preventDefault();
                    const deferredPrompt = e;

                    window.addEventListener(ON_ADD_TO_HOME_SCREEN, async () => {
                        deferredPrompt.prompt();
                    });
                });

                let isRefreshed = false;
                navigator.serviceWorker.addEventListener("controllerchange", () => {
                    if (isRefreshed) {
                        return;
                    }
                    isRefreshed = true;
                    window.location.reload(true);
                });

                this.pollForServiceWorkerUpdates();
            },

            onUnmounted() {
                this.clearIntervals();
            },

            pollForServiceWorkerUpdates() {
                swUpdatePoller = window.setInterval(this.updateServiceWorker, SW_UPDATE_INTERVAL);
            },

            async updateServiceWorker() {
                const registration = await navigator.serviceWorker.getRegistration();
                if (!registration) {
                    return;
                }
                registration.update();
            },

            clearIntervals() {
                window.clearInterval(swUpdatePoller);
            },
        };
    </script>
</ServiceWorker>
