<TagList>
    <div>
        <h5 class="section-title" translate>Tags</h5>
        <a class="tag" href="#?COVID-19">
            <p>COVID-19</p>
        </a>
        <a class="tag" href="#?Triage">
            <p>Triage</p>
        </a>
        <a class="tag" href="#?Symptoms">
            <p>Symptoms</p>
        </a>
        <a class="tag" href="#?Cases">
            <p>Cases</p>
        </a>
        <a class="tag" href="#?Prevention">
            <p>Prevention</p>
        </a>
        <a class="tag" href="#?Screening">
            <p>Screening</p>
        </a>
    </div>
    <script>
    export default {

    }
    </script>
</TagList>
