<Toast>
    <p id="snackbar"></p>
    <script>
        const TOAST_TIMEOUT_MS = 2500;

        export default {
            state: {
                toastMessage: ""
            },

            TRANSLATIONS: {
                offline: () => gettext("You are offline!"),
                online: () => gettext("You are online!"),
            },

            showToast() {
                const toast = document.getElementById("snackbar");
                toast.className = "show";
                toast.innerText = this.state.toastMessage;
                setTimeout(function() {
                    toast.className = toast.className.replace("show", "");
                }, TOAST_TIMEOUT_MS);
            },

            storeListener(previousStoreState, storeState) {
                if (previousStoreState.online !== storeState.online) {
                    this.update({ 
                        toastMessage: storeState.online ? this.TRANSLATIONS.online() : this.TRANSLATIONS.offline(),
                    });
                    this.showToast();
                }
            },
        };
    </script>
</Toast>
