<TopMenu>
    <header class="background-{state.color}">
        <div class="top-menu-container">
            <a if="{state.showBackArrow}" class="arrow-white" onclick="{backToRelavantPage}"></a>
            <a
                if="{state.isCard || state.isCourseExam}"
                class="cross close-btn"
                onclick="{state.isCard ? backToLessonPage : backToCourse}"
            ></a>

            <a
                if="{!state.isAllCourses}"
                class="site-logo {state.isSettings ? '' : 'white'}"
                href="#"
            ></a>
            <a if="{!state.isSettings}" class="cog" href="#settings"></a>
        </div>
    </header>

    <script>
        import { parseURLHash } from "js/Routing";

        export default {
            state: {
                color: "",
            },

            onBeforeMount(props, state) {
                this.updateState();
            },

            onBeforeUpdate(props, state) {
                this.updateState();
            },

            goBack() {
                window.history.back();
            },

            backToLessonPage() {
                location.hash = "#" + this.props.wagtailPage.data.id;
            },

            backToAllCourses() {
                location.hash = "#";
            },

            backToCoursePage() {
                location.hash = "#" + this.props.wagtailPage.course.id;
            },

            backToCourse() {
                location.hash = "#" + parseURLHash()[0];
            },

            backToRelavantPage() {
                if (this.state.goToPreviousPage) {
                    this.goBack();
                } else if (this.state.isSectionList) {
                    this.backToCoursePage();
                } else if (this.state.isCourse) {
                    this.backToAllCourses();
                }
            },

            updateState() {
                const [afterTheHash, lessonModule] = parseURLHash();
                this.state.lessonModule = lessonModule;
                this.state.isObjective = this.state.lessonModule === "objectives";
                this.state.isContent = this.state.lessonModule === "content";
                this.state.isTest = this.state.lessonModule === "test";
                this.state.isCourseExam = this.state.lessonModule === "exam";
                this.state.isCard =
                    this.state.isTest || this.state.isContent || this.state.isObjective;
                this.state.isAllCourses = this.props.contentType === "HomePage";
                this.state.isCourse = this.props.contentType === "CoursePage";
                this.state.isNotifications = this.props.contentType === "notifications";
                this.state.isResources = this.props.contentType === "resources";
                this.state.isProfile = this.props.contentType === "profile";
                this.state.isSettings = this.props.contentType === "settings";
                this.state.isSectionList =
                    this.props.contentType === "LessonPage" && !this.state.isCard;
                this.state.isBasePage =
                    this.state.isProfile || this.state.isResources || this.state.isSettings;
                this.state.goToPreviousPage =
                    !this.state.isCard &&
                    !this.state.isSectionList &&
                    !this.state.isCourse &&
                    !this.state.isBasePage &&
                    !this.state.isAllCourses;
                this.state.showBackArrow =
                    this.state.goToPreviousPage ||
                    this.state.isSectionList ||
                    (this.state.isCourse && !this.state.isCourseExam);

                if (this.state.isProfile) {
                    this.state.color = "profile-green";
                } else if (this.state.isNotifications) {
                    this.state.color = "notifications-orange";
                } else if (this.state.isAllCourses || this.state.isCard) {
                    this.state.color = "blue-1";
                } else if (this.state.isSettings) {
                    this.state.color = "settings-tan";
                } else {
                    this.state.color = "";
                }
            },
        };
    </script>
</TopMenu>
