<TopMenu>
    <header class="background-{state.color}">
        <div class="top-menu-container">
            <a
                if="{!state.isCard && !state.isSectionList && !state.isCourse && !state.isBasePage && !state.isHome && !state.isCourseExam}"
                class="{state.isSettings ? 'arrow-gray' : 'arrow-white'}"
                onclick="{goBack}"
            ></a>
            <a if="{state.isSectionList}" class="arrow-white" onclick="{backToCoursePage}"></a>
            <a if="{state.isCourse}" class="arrow-white" onclick="{backToHome}"></a>
            <a if="{state.isCard}" class="cross close-btn" onclick="{backToLessonPage}"></a>

            <a
                if="{!state.isHome}"
                class="site-logo {state.isSettings ? '' : 'white'}"
                href="#"
            ></a>
            <a if="{!state.isSettings}" class="cog white" href="#settings"></a>
        </div>
    </header>

    <script>
        import { parseURLHash } from "js/Routing";

        export default {
            state: {
                color: "",
            },

            onBeforeMount(props, state) {
                this.updateState();
            },

            onBeforeUpdate(props, state) {
                this.updateState();
            },

            goBack() {
                window.history.back();
            },

            backToLessonPage() {
                location.hash = "#" + this.props.wagtailPage.data.id;
            },

            backToHome() {
                location.hash = "#";
            },

            backToCoursePage() {
                location.hash = "#" + this.props.wagtailPage.course.id;
            },

            updateState() {
                const [afterTheHash, lessonModule] = parseURLHash();
                this.state.lessonModule = lessonModule;
                this.state.isObjective = this.state.lessonModule === "objectives";
                this.state.isContent = this.state.lessonModule === "content";
                this.state.isTest = this.state.lessonModule === "test";
                this.state.isCourseExam = this.state.lessonModule === "exam";
                this.state.isCard =
                    this.state.isTest || this.state.isContent || this.state.isObjective;
                this.state.isHome = this.props.contentType === "HomePage";
                this.state.isCourse = this.props.contentType === "CoursePage";
                this.state.isNotifications = this.props.contentType === "notifications";
                this.state.isResources = this.props.contentType === "resources";
                this.state.isProfile = this.props.contentType === "profile";
                this.state.isSettings = this.props.contentType === "settings";
                this.state.isSectionList =
                    this.props.contentType === "LessonPage" && !this.state.isCard;
                this.state.isBasePage =
                    this.state.isProfile || this.state.isResources || this.state.isSettings;

                if (this.state.isProfile) {
                    this.state.color = "profile-green";
                } else if (this.state.isNotifications) {
                    this.state.color = "notifications-orange";
                } else if (this.state.isHome || this.state.isCard) {
                    this.state.color = "blue-1";
                } else if (this.state.isSettings) {
                    this.state.color = "settings-tan";
                } else {
                    this.state.color = "";
                }
            },
        };
    </script>
</TopMenu>
