$logoStandard: url("../img/site_logo.svg");
$logoWhite: url("../img/site_logo_white.svg");
$loginImage: url("../img/login_image.svg");
$homeBackgroundImage: url("../img/home_header_figure.svg");
$logoA: url("../img/logo_a.png");
$logoB: url("../img/logo_b.svg");
$logoC: url("../img/logo_c.svg");

$hideInCanoe: none;
