<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (htmlWebpackPlugin.options.include_ga) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.ga_tag%>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag(
            'config',
            '<%= htmlWebpackPlugin.options.ga_tag %>',
            {
                send_page_view: false,
                custom_map: {
                    dimension1: 'User Id',
                    dimension2: 'Groups',
                    dimension3: 'Lesson',
                    dimension4: 'Question',
                    dimension5: 'Answer',
                    metric1: 'Is a Correct Answer',
                }
            }
        );
    </script>
    <% } %>
</head>

<body>
    <App>
    </App>
</body>

</html>
