ActivityPage {
    .topic-and-details {
        display: flex;
        flex-direction: row;
        align-items: center;

        h5 {
            flex: 1;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
            margin-right: 5px;
        }

        p {
            font-size: 10px;

            &.reference {
                background-color: $gray-8;
                padding: 5px 13px;
                border-radius: 12px;
                letter-spacing: 0.6px;
                text-transform: uppercase;
            }
        }
    }

    .title-description {
        button {
            margin: 1em 0 2.5em;
            box-shadow: none;

            &.btn-primary {
                background-color: $teal;
                position: relative;
            }
        }

        .checkmark {
            background-color: white;
            height: 12px;
            position: absolute;
            left: 13%;
            top: 36%;
        }
    }

    .activity-swoop {
        @extend %bottom-swoop;
        border-top-left-radius: 500% 7%;
        border-top-right-radius: 500% 7%;
        background: linear-gradient(134.77deg, $gray-8 0%, $gray-7 100%);

        .tab-titles h5 {
            color: $gray-3;
        }
    }

    .first-section {
        padding-bottom: 1.5em;
        border-bottom: 2px solid $gray-6;
    }

    .middle-section {
        padding: 2em 0;
        border-bottom: 2px solid $gray-6;
    }

    .last-section {
        padding: 2em 0 1em 0;
    }

    div.content-wrapper {
        padding-bottom: calc(#{$bottom-menu-height});
    }

    img {
        width: 100%;
    }

    PlanTab,
    TeachTab {
        h4 {
            align-items: center;
            display: flex;
            margin-bottom: 1em;
        }

        > button {
            margin-bottom: 1.25em;
        }

        .has-circle {
            margin-right: 12px;
            box-shadow: none;
        }
    }

    TabSection {
        h3 {
            font-size: 1.1em;
        }

        .cards-list > * {
            margin: 1.5em 0;
            display: block;
        }
    }

    ListCard {
        p {
            color: $gray-1;
            display: flex;

            .bullet {
                font-size: 10px;
                margin: 5px 20px 0 0;
            }

            .number {
                font-size: 14px;
                margin: 2px 15px 0 0;

                &:after {
                    content: ".";
                }
            }
        }
    }

    Html5Card {
        iframe {
            height: 200px;
        }

        .btn-primary {
            margin-top: 0.7em;
        }
    }

    FlashCards .flash-cards {
        height: 210px;
        width: 100%;
        box-shadow: 0 10px 20px 0 rgba(42, 57, 66, 0.2);
        border-radius: 8px;
        background-color: white;
        padding: 25px;
        box-sizing: border-box;
        margin: 1em 0;

        h4 {
            font-size: 1em;
        }

        p {
            font-size: 0.9em;
        }

        button {
            margin-top: 1em;
        }
    }
}
