AllCoursesPage {
    .background {
        background-color: $app-background-color;
    }

    .header {
        background: $app-gradient;
        height: 160px;
        border-bottom-left-radius: 80% 10%;
        border-bottom-right-radius: 80% 10%;
        padding: 20px;
    }
}
