AllCoursesPage {
    .background {
        background-color: $app-background-color;
    }

    .header {
        @include header-swoop;
        height: 200px;
    }

    .card-image {
        background-image: url("~img/stock_course.svg");
    }
}
