AllCoursesPage {
    .background {
        background-color: $app-background-color;
    }

    .with-swoop {
        height: unset;
    }

    .tag-container > .tag p {
        text-transform: none;
    }

    .card-image {
        @extend %stock-course;
    }

    h5.section-title {
        color: $gray-1;
    }
}
