%buttons-shared {
    border-radius: $app-button-radius;
    min-width: 180px;
    width: 100%;

    &:focus {
        outline: 0;
    }
}

.btn-primary {
    @extend %buttons-shared;
    box-shadow: 0 10px 8px 0 rgba(42, 57, 66, 0.2);
    background-color: $app-accent-color;
    min-height: 45px;
    color: $white;
    border: none;
    padding-right: 0.5em;
    padding-left: 0.5em;
    position: relative;

    .chevron {
        height: 14px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    &:disabled {
        background-color: $gray-4;
        color: $gray-7;
        box-shadow: none;
        position: relative;

        LoadingDots {
            top: 0;
            position: absolute;
            margin-left: 12px;

            & > .loader {
              margin: 0.5em auto;
            }
        }
    }

    &:active {
        box-shadow: 0 10px 8px 0 rgba(42, 57, 66, 0.2) inset;
    }
}

.btn-secondary {
    @extend %buttons-shared;
    border: none;
    background-color: inherit;
    min-height: 45px;
    color: $app-accent-color;
    border: 2px solid $app-accent-color;
}
