%buttons-shared {
    border-radius: $app-button-radius;
    min-width: 220px;

    &:focus {
        outline: 0;
    }
}

.btn-primary {
    @extend %buttons-shared;
    box-shadow: 0 10px 8px 0 rgba(42, 57, 66, 0.2);
    background-color: $app-accent-color;
    min-height: 50px;
    color: $white;
    border: none;
    padding-right: 0.5em;
    padding-left: 0.5em;

    &:disabled {
        background-color: $gray-4;
        color: $gray-7;
        box-shadow: none;
        position: relative;

        LoadingDots {
            top: 0;
            position: absolute;
        }
    }
}

.btn-secondary {
    @extend %buttons-shared;
    border: none;
    background-color: $white;
    min-height: 48px;
    color: $app-accent-color;
}

.btn-continue-learning {
    @extend %buttons-shared;
    box-shadow: 0 10px 8px 0 rgba(42, 57, 66, 0.45);
    background-color: white;
    margin-bottom: 15px;
    color: $gray-1;
    padding: 10px 20px;
    text-align: center;
    height: 15px;
    min-width: 130px;
    width: 130px;

    @media only screen and (max-width: $sm-phone) {
        padding: 10px;
    }

    p {
        font-size: 12px;
        margin: 0;
        line-height: 1.4;
        font-weight: 600;
        display: inline-block;
        margin-right: 5px;
    }
}

.btn-wrong {
    background-color: $red-2;
}
