.card {
    box-shadow: 0 5px 10px 0 rgba(42,57,66,0.2);;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid $gray-7;
    display: flex;

    h5 {
        margin: 0;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .card-body {
        background-color: $gray-10;
        border-radius: 8px;
        padding: 20px;
        display: grid;
    }
}

.card.done {
    box-shadow: none;

    .card-body {
        border-radius: 8px;
        background-color: lightgreen;
    }
}

.notification-card {
    background-color: rgba(4, 120, 142, 0.05);
    border: 1px solid $app-accent-color;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .notification-header {
        margin-bottom: 10px;
        align-items: center;
        display: flex;
    }

    .notification-body {
        margin-bottom: 15px;
    }

    .notification-footer {
        display: flex;
    }
}

.notification-card.old {
    background-color: $white;
    border-color: $gray-7;
}
