.course {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.course-header {
    margin-bottom: 10px;
    display: flex;

    & > span {
        margin-right: 15px;
    }

    & > div {
        flex-direction: column;
        display: flex;
        flex: 1;

        h3 {
            margin: 0;
            font-size: 30px;
            line-height: 30px;
        }

        & > div {
            display: flex;

            p {
                margin: 5px 0;
                flex: 1;
                font-size: 14px;

                &.bottom-border {
                    border-bottom: 1px solid;
                    border-color: $gray-6;
                    padding-bottom: 5px;
                }
            }

            a {
                align-items: center;
                display: flex;
            }
        }
    }

    a {
        text-transform: uppercase;
        letter-spacing: 0.2px;
        color: $gray-1;

        span {
            margin-left: 5px;
            margin-bottom: 3px;
        }
    }

    .arrow-gray {
        display: none;
    }
}

.sticky {
    position: fixed;
    top: 0;
    border: 1px solid $gray-6;
    padding-right: 10px;
    min-width: calc(100% - 65px);
    max-width: calc(100% - 65px);
    background-color: $tan;
    z-index: 1;
    left: 0;
    padding-left: 55px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.sticky.course-header {
    div {
        width: 100%;
    }

    h3 {
        font-size: 16px;
        line-height: 20px;
    }

    p.bottom-border {
        border: none;
    }

    @media only screen and (max-width: 600px) {
        p {
            margin-top: 5px;
        }
    }

    .arrow-gray {
        margin: 10px 0 0 15px;
        display: block;
    }
}

.sticky.course-header + .section-title {
    padding-top: $sticky-header-offset;
}

CoursePage .course {
    margin-top: -#{$top-menu-height};
    padding-top: $top-menu-height;
}

CoursePage .content-wrapper {
    border-radius: 30px 30px 0 0;
    background-color: $gray-10;
    padding-top: 30px;
}

CourseExam {
    .card-number {
        font-size: 12px;
        margin-bottom: -15px;
        flex: 0;
    }

    .bottom-buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-bottom: 15px;

        .arrow-gray {
            display: inline-block;
            position: relative;
            left: unset;
            width: 80px;
            height: 50px;
        }

        .btn-primary {
            min-width: 160px;
        }
    }

    div.card-container {
        justify-content: unset;
    }
}
