/* Circular Standard */
@font-face {
    font-family: "CircularStd-Bold";
    src: url("../fonts/CircularStd-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "CircularStd-Medium";
    src: url("../fonts/CircularStd-Medium.ttf") format("truetype");
}
