%icons-shared {
    background-repeat: no-repeat;
    background-size: contain;
}

.site-logo {
    @extend %icons-shared;
    @extend %mask-icons-shared;
    background-image: url("~img/site_logo.svg");
    background-position: center;
    height: 30px;
    width: 87px;

    &.white {
        background-image: url("~img/site_logo_white.svg");
    }
}

.cog {
    @extend %icons-shared;
    background-image: url("~img/cog_white.svg");
    height: 40px;
    width: 40px;
}

.filter-icon {
    @extend %icons-shared;
    background-image: url("~img/levers.svg");
    height: 20px;
    width: 20px;
    display: inline-block;
}

%bottom-nav-shared {
    @extend %icons-shared;
    @extend %mask-icons-shared;
    background-position-x: center;
    height: 20px;
    width: 20px;
}

.home-icon {
    @extend %bottom-nav-shared;
    -webkit-mask-image: url("~img/home.svg");
    background-color: $gray-4;

    &.active {
        background-color: $app-accent-color;
    }
}

.all-courses-icon {
    @extend %bottom-nav-shared;
    -webkit-mask-image: url("~img/all_courses.svg");
    background-color: $gray-4;

    &.active {
        background-color: $app-accent-color;
    }
}

.profile-icon {
    @extend %bottom-nav-shared;
    -webkit-mask-image: url("~img/profile.svg");
    background-color: $gray-4;

    &.active {
        background-color: $app-accent-color;
    }
}

.notifications-icon {
    @extend %bottom-nav-shared;
    -webkit-mask-image: url("~img/notifications.svg");
    background-color: $gray-4;

    &.active {
        background-color: $app-accent-color;
    }
}

.resources-icon {
    @extend %bottom-nav-shared;
    -webkit-mask-image: url("../img/clipboard.svg");
    background-color: $gray-4;

    &.active,
    &.title {
        background-color: $app-accent-color;
    }
}

.search-icon {
    @extend %bottom-nav-shared;
    background-image: url("../img/magnifier.svg");
}

.checkmark-circle {
    @extend %icons-shared;
    background-image: url("~img/checkmark_circle.svg");
    height: 14px;
    width: 12px;
}

.checkmark {
    @extend %icons-shared;
    background-image: url("~img/checkmark.svg");
    height: 10px;
    width: 12px;
}

.cross {
    @extend %icons-shared;
    @extend %mask-icons-shared;
    -webkit-mask-image: url("~img/cross.svg");
    height: 10px;
    width: 12px;
    background: $white;

    &.gray {
        background: $gray-4;
        min-width: 1em;
        height: 1em;
    }
}

%stat-icon-shared {
    @extend %icons-shared;
    height: 25px;
    width: 25px;
}

.checkmark-circle-blue {
    @extend %stat-icon-shared;
    background-image: url("~img/checkmark_circle_blue.svg");
}

.road-sign {
    @extend %stat-icon-shared;
    background-image: url("~img/road_sign.svg");
}

.plant {
    @extend %icons-shared;
    background-image: url("~img/plant.svg");
    height: 50px;
    width: 45px;
}

%arrow-shared {
    @extend %icons-shared;
    background-position: center;
    background-size: 17px 12px;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;

    &:hover {
        cursor: pointer;
    }
}

.arrow-white {
    @extend %arrow-shared;
    background-image: url("~img/arrow_white.svg");
}

.arrow-gray {
    @extend %arrow-shared;
    background-image: url("~img/arrow_gray.svg");
}

.arrow-blue {
    @extend %icons-shared;
    background-image: url("~img/arrow_blue.svg");
    height: 10px;
    width: 13px;
}

.clock {
    @extend %icons-shared;
    height: 14px;
    width: 12px;
    background-image: url("~img/clock.svg");
}

.warning {
    @extend %icons-shared;
    @extend %bottom-nav-shared;
    @extend %mask-icons-shared;
    -webkit-mask-image: url("~img/warning.svg");
    height: 15px;
    width: 15px;

    &.red {
        background-color: $red-1;
    }
}

.success {
    @extend %icons-shared;
    background-image: url("~img/success.svg");
    height: 18px;
    width: 15px;
}

.report-card {
    @extend %icons-shared;
    background-image: url("~img/report_card.svg");
    background-position: center;
    height: 200px;
    max-width: 200px;
}

.notifications-image {
    @extend %icons-shared;
    background-image: url("~img/notifications_header.svg");
    background-position: center;
    height: 145px;
    width: 118px;
}

.login-image {
    @extend %icons-shared;
    background-image: url("~img/login_image.svg");
    background-position: center;
    width: 125px;
    height: 125px;
}

.eye {
    @extend %icons-shared;
    background-image: url("~img/eye.svg");
    height: 13px;
    width: 20px;
}

.eye.crossout {
    @extend %icons-shared;
    background-image: url("~img/eye-crossout.svg");
    height: 13px;
    width: 20px;
}

.confetti {
    @extend %icons-shared;
    background-image: url("~img/confetti.svg");
    height: 45%;
    width: 60%;
    max-width: 300px;
}

.sun {
    @extend %icons-shared;
    background-image: url("~img/sun.svg");
    height: 100px;
    width: 100px;
}

// Masking icons so we can dynamically set their color
%mask-icons-shared {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}

.arrow {
    @extend %mask-icons-shared;
    -webkit-mask-image: url("~img/arrow.svg");
    height: 10px;
    width: 13px;
}

.incorrect-flag {
    @extend %icons-shared;
    background-image: url("~img/incorrect_flag.svg");
}

.correct-flag {
    @extend %icons-shared;
    background-image: url("~img/correct_flag.svg");
}

@mixin feedback-icons {
    height: 50px;
    width: 41px;
    background-color: $app-accent-color;
    display: block;
    margin: auto;
    margin-top: 0.5em;
}

.neutral-smiley {
    @extend %mask-icons-shared;
    @include feedback-icons;
    -webkit-mask-image: url("~img/neutral.png");
}

.smiling-smiley {
    @extend %mask-icons-shared;
    @include feedback-icons;
    -webkit-mask-image: url("~img/smile.png");
}

.thrilled-smiley {
    @extend %mask-icons-shared;
    @include feedback-icons;
    -webkit-mask-image: url("~img/thrilled.png");
}

.speaker {
    @extend %stat-icon-shared;
    background-image: url("~img/speaker.svg");
}

.film {
    @extend %stat-icon-shared;
    background-image: url("~img/film.svg");
}
