// Masking icons so we can dynamically set their color
@mixin mask-icons-shared($image, $contain-or-cover, $color) {
    -webkit-mask-image: url($image);
    mask-image: url($image);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: $contain-or-cover;
    mask-size: $contain-or-cover;

    background-color: $color;
    display: inline-block;
}

@mixin unmaskable-icons-shared($image, $contain-or-cover) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: $contain-or-cover;
    background-position: center;
}

.site-logo {
    @include unmaskable-icons-shared("~img/site_logo.svg", contain);
    height: 36px;
    width: 87px;
}

.filter-icon {
    @include mask-icons-shared("~img/levers.svg", contain, $blue);
    height: 20px;
    width: 20px;
}

%bottom-nav-shared {
    -webkit-mask-position-x: center;
    mask-position: center;
    height: 22px;
    width: 22px;
}

.all-courses-icon {
    @extend %bottom-nav-shared;
    @include mask-icons-shared("~img/all_courses.svg", contain, $gray-4);

    &.active {
        background-color: $app-accent-color;
    }
}

.profile-icon {
    @extend %bottom-nav-shared;
    @include mask-icons-shared("~img/profile.svg", contain, $gray-4);

    &.active {
        background-color: $app-accent-color;
    }
}

.resources-icon {
    @extend %bottom-nav-shared;
    @include mask-icons-shared("~img/clipboard.svg", contain, $gray-4);

    &.active,
    &.title {
        background-color: $app-accent-color;
    }
}

.settings-icon {
    @include mask-icons-shared("~img/cog.svg", contain, $blue);
    -webkit-mask-position-x: center;
    mask-position: center;
    height: 22px;
    width: 22px;
}

.search-icon {
    @include mask-icons-shared("~img/magnifier.svg", contain, $gray-3);
    -webkit-mask-position-x: center;
    mask-position: center;
    width: 1em;
    height: 1em;
}

.checkmark {
    @include mask-icons-shared("~img/checkmark.svg", contain, $blue);
    height: 16px;
    width: 20px;
}

.cross {
    @include mask-icons-shared("~img/cross.svg", contain, $gray-3);
    height: 13px;
    width: 13px;
    background: $white;

    &.gray {
        background: $gray-4;
    }
}

%stat-icon-shared {
    height: 25px;
    width: 25px;
    background: $blue;
}

.checkmark-circle {
    @extend %stat-icon-shared;
    @include mask-icons-shared("~img/checkmark_circle.svg", contain, $blue);
}

.road-sign {
    @extend %stat-icon-shared;
    @include mask-icons-shared("~img/road_sign.svg", contain, $blue);
}

.plant {
    @include unmaskable-icons-shared("~img/plant.svg", contain);
    height: 50px;
    width: 45px;
}

.warning {
    @extend %bottom-nav-shared;
    @include mask-icons-shared("~img/warning.svg", contain, $red);
    height: 15px;
    width: 15px;
}

.success {
    @include mask-icons-shared("~img/success.svg", contain, $green);
    height: 18px;
    width: 15px;
}

.notifications-image {
    @include mask-icons-shared("~img/notifications_header.svg", contain, $gray-3);
    -webkit-mask-position: center;
    mask-position: center;
    height: 145px;
    width: 118px;
}

.login-image {
    @include unmaskable-icons-shared("~img/login_image.svg", contain);
    width: 130px;
    height: 130px;
}

.eye {
    @include mask-icons-shared("~img/eye.svg", contain, $gray-3);
    height: 13px;
    width: 20px;
}

.eye.crossout {
    @include mask-icons-shared("~img/eye-crossout.svg", contain, $gray-3);
    height: 13px;
    width: 20px;
}

.confetti {
    @include unmaskable-icons-shared("~img/confetti.svg", contain);
    background-position: left;
    height: 100%;
    min-height: 100px;
    width: 100%;
}

.sun {
    @include mask-icons-shared("~img/sun.svg", contain, $yellow);
    height: 100px;
    width: 100px;
}

.arrow {
    @include mask-icons-shared("~img/arrow.svg", contain, $blue);
    height: 12px;
    width: 17px;
}

.incorrect-cross {
    @include unmaskable-icons-shared("~img/incorrect_cross.svg", contain);
}

.correct-checkmark {
    @include unmaskable-icons-shared("~img/correct_checkmark.svg", contain);
}

%feedback-icons {
    height: 30px;
    width: 30px;
    display: block;
    margin: auto;
}

.neutral-smiley {
    @include mask-icons-shared("~img/neutral.svg", contain, $app-accent-color);
    @extend %feedback-icons;
    background: $red;
}

.smiling-smiley {
    @include mask-icons-shared("~img/smile.svg", contain, $app-accent-color);
    @extend %feedback-icons;
    background: $yellow;
}

.thrilled-smiley {
    @include mask-icons-shared("~img/thrilled.svg", contain, $app-accent-color);
    @extend %feedback-icons;
    background: $teal;
}

.speaker {
    @extend %stat-icon-shared;
    @include mask-icons-shared("~img/speaker.svg", contain, $gray-3);
}

.film {
    @extend %stat-icon-shared;
    @include mask-icons-shared("~img/film.svg", contain, $gray-3);
}

// Icons for card status
%status-play {
    background-color: $blue;
    border: 0.1px solid $gray-5;
    display: flex;
    box-sizing: border-box;

    span {
        @include mask-icons-shared("~img/chevron_right.svg", contain, $gray-3);
        background-color: $white;
        height: 15px;
        width: 15px;
        margin: auto;
    }
}

%status-complete {
    @include unmaskable-icons-shared("~img/status_complete.svg", contain);
}

%status-lock {
    @include unmaskable-icons-shared("~img/status_lock.svg", contain);
}

// Stock card images
%stock-course {
    @include unmaskable-icons-shared("~img/stock_course.svg", cover);
}

%stock-lesson {
    @include unmaskable-icons-shared("~img/stock_lesson.svg", cover);
}

%stock-resource {
    @include unmaskable-icons-shared("~img/stock_resource.svg", cover);
}

%stock-objective {
    @include unmaskable-icons-shared("~img/stock_objective.svg", cover);
}

%stock-content {
    @include unmaskable-icons-shared("~img/stock_content.svg", cover);
}

%stock-test {
    @include unmaskable-icons-shared("~img/stock_test.svg", cover);
}
