.lesson.card,
.module.card {
    h4 {
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 14px;
        color: $gray-2;
    }

    p {
        margin: 0;
    }
}

LessonPage {
    .module-swoop {
        @extend %bottom-swoop;
    }
}

LessonFrame {
    .without-swoop {
        justify-content: center;

        .card-number {
            color: $gray-1;
            font-size: 0.7em;
            margin: 0 10px;
            min-width: 50px;

            .current-card {
                font-size: 2em;
            }

            .slash {
                margin: 0 4px;
            }
        }

        a.extra-clickable-space.right {
            position: absolute;
        }

        progress {
            margin-right: 70px;
        }
    }

    .frame-background {
        // the 10px adds some room for the stacked cards below, the 50px is
        // for the buttons
        min-height: calc(100vh - #{$top-menu-height} - 10px - 50px);
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
    }

    .card-frame {
        margin: 0 5px 1.5em;
        padding: 30px 20px;
        width: 100%;
        max-width: $tablet;
        background-color: $gray-10;
        border-radius: 8px;
        box-shadow: 0 10px 20px 0 rgba(42, 57, 66, 0.3);
        box-sizing: border-box;
        position: relative;

        @media only screen and (min-width: 610px) {
            margin: 0 auto 1.5em;
        }
    }

    .card-shadow {
        background-color: $gray-10;
        height: 20px;
        width: 96%;
        position: absolute;
        bottom: -11px;
        left: 2%;
        border-radius: 7.5px;
        z-index: -1;
        box-shadow: 0 5px 10px 0 rgba(42, 57, 66, 0.2);
        opacity: 0.9;
    }

    .card-shadow:nth-child(3) {
        width: 90%;
        bottom: -21px;
        z-index: -2;
        left: 5%;
        border-radius: 7px;
        opacity: 0.55;
    }
}

LessonObjective .objective {
    h3 {
        text-transform: uppercase;
        font-size: 14px;
    }

    p {
        margin-bottom: 20px;
        margin-top: 0;
        flex: 1;
    }

    .center-objective {
        margin-top: 40px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
}

LessonContent .content,
ResourceArticle .content {
    padding-bottom: 25px;

    div.content-wrapper {
        flex-direction: column;
        padding-top: 30px;
        display: flex;
    }

    raw,
    basiccard,
    quotecard,
    listcard,
    VideoCard,
    AudioCard,
    PdfCard,
    Html5Card {
        flex: 1;
        width: 100%;
    }

    Html5Card {
        height: inherit;

        .html-card {
            display: flex;
            flex-direction: column;
            height: inherit;
        }

        h3 {
            margin-top: 0;
        }

        button {
            margin-top: 1em;
        }
    }

    basiccard,
    quotecard,
    listcard {
        text-align: left;
    }

    audio {
        min-width: 250px;
        width: 70%;
        margin-bottom: 10%;
        margin-top: 20%;
    }

    video {
        margin: 10% 0 0;
    }

    quotecard {
        margin-top: 1em;

        .quote-container {
            margin: 2em;

            &.long {
                margin-top: 0;
            }
        }

        h3 {
            font-weight: 200;
            margin: 0;
            font-size: 1.2em;
        }

        .quotation-mark {
            display: block;
            margin-bottom: 10px;
        }

        & p {
            padding-top: 0.7em;
            font-size: 0.9em;

            &.long {
                padding-top: 0;
                margin-bottom: 0;
            }
        }
    }

    listcard {
        width: 100%;

        span {
            margin-right: 18px;
            color: $gray-1;
            font-weight: 600;
        }
    }

    img.richtext-image {
        margin: 1em 0;
        width: 100%;
    }

    h3.media-title {
        font-size: 24px;
        margin-top: 10%;
    }

    p,
    li {
        font-size: 1em;
        line-height: 1.3em;
        margin: 0.3em 0;
    }

    p.media-description {
        font-size: 1em;
    }

    p.error-message {
        color: red;
    }

    iframe {
        border: 3px solid $app-accent-color;
        width: 100%;
        flex: 1;
        border-radius: 15px;
    }

    .card-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
}

TestMultipleAnswer,
TestSingleAnswer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    h4 {
        align-self: start;
        margin: 0 0 1.5em 0;
        font-weight: 100;
        font-size: 1em;
        color: $gray-3;
    }

    button {
        width: 90px;
        align-self: center;
    }

    .answers-block {
        align-self: start;
        flex: 1;
    }
}

.test {
    h3 {
        align-self: start;
    }

    button {
        flex: end;
    }

    ol {
        align-self: start;
        flex: 1;
        width: 100%;

        li {
            flex-direction: column;
            margin-bottom: 15px;
            display: flex;

            &:hover {
                cursor: pointer;
            }

            &:last-child {
                margin-bottom: 0;
            }

            & > div {
                align-items: center;
                display: flex;

                p {
                    font-size: 1.2em;
                    flex-shrink: 1;
                    margin: 0;
                }
            }

            & > div:nth-child(2) {
                padding-left: 35px;

                p {
                    margin-left: 5px;
                }
            }

            &.selected .radio {
                & > div {
                    background-color: $green;
                }
            }

            &.selected-wrong .radio {
                border: 2px solid $orange;
                height: 21px;
                width: 21px;

                & > div {
                    background-color: $orange;
                }
            }

            &.selected-pending .radio {
                border: 2px solid $app-accent-color;
                height: 21px;
                width: 21px;

                & > div {
                    background-color: $app-accent-color;
                }
            }

            &.selected-pending .radio {
                border: 2px solid $app-accent-color;
                height: 21px;
                width: 21px;

                & > div {
                    background-color: $app-accent-color;
                }
            }

            .radio {
                background-color: $white;
                border-radius: 50%;
                margin-right: 10px;
                position: relative;
                border: $border;
                flex-shrink: 0;
                height: 23px;
                width: 23px;

                & > div {
                    border-radius: 50%;
                    position: absolute;
                    margin: auto;
                    height: 11px;
                    width: 11px;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: 0;
                }
            }

            .pendingAnswer,
            .success,
            .warning {
                height: 15px;
                width: 18px;
                display: inline-block;
                position: absolute;
                margin-left: 5px;
            }

            .pendingAnswer {
                background-color: $app-accent-color;
                border-radius: 50%;
                width: 15px;
            }

            .warning {
                margin-left: 4px;
            }

            .checkbox {
                content: "";
                box-sizing: border-box;
                height: 25px;
                width: 25px;
                border: 1px solid $gray-5;
                border-radius: 3px;
                margin-right: 15px;
                flex: none;
            }
        }
    }
}

LessonFeedback {
    .feedback-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 2em 0;

        @media only screen and (max-width: $sm-phone) {
            flex-flow: column wrap;
            align-items: center;
            margin: 1em 0;
        }

        button {
            height: 5.687em;
            width: 5.687em;
            border-radius: 50%;
            border: none;
            box-shadow: 0 5px 10px 0 rgba(42, 57, 66, 0.2);
            background-color: white;
            margin: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:focus {
                outline: 0;
            }

            &.active {
                box-shadow: inset 0 2px 4px 0 rgba(42, 57, 66, 0.5);

                & > span {
                    background-color: $white;
                }

                &.neutral {
                    background-color: $red;
                }

                &.smiling {
                    background-color: $yellow;
                }

                &.thrilled {
                    background-color: $teal;
                }
            }

            &:hover {
                cursor: pointer;
            }

            @media only screen and (max-width: calc(#{$lg-phone} + 27px)) {
                height: 5em;
                width: 5em;
                margin: 0;
            }

            @media screen and (max-width: $sm-phone) {
                margin: 0.5em;

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        & .button-label {
            color: $gray-4;
            margin-top: 11px;
        }
    }

    // Pedro needs smaller buttons at 441px. Better to target an industry
    // breakpoint and add the extra pixels.

    @media screen and (max-width: $sm-phone) {
        h3 {
            padding-bottom: 0;
        }
    }
}

.message-container {
    text-align: center;

    h3 {
        margin: 0.5em;
    }

    h5 {
        text-transform: uppercase;
        font-weight: 300;
    }

    p {
        color: $gray-1;
    }

    .correct-checkmark {
        height: 6em;
        width: 6em;
        margin: 2em auto;
    }
}

LessonComplete,
ExamResults {
    .congratulations-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 100%;

        h2,
        h3 {
            margin-top: 0;
            margin-bottom: 0.4em;
        }

        h3 {
            font-size: 1.2em;
        }

        p {
            color: $gray-1;
            margin: 0.5em 1em;
        }

        .btn-primary {
            margin-top: 1em;
            width: 220px;
            position: relative;

            .chevron {
                position: absolute;
                right: 20px;
                top: 12px;
            }
        }

        .btn-secondary {
            margin-top: 1.5em;
            width: 220px;
        }
    }

    .incorrect-cross {
        height: 40px;
        width: 40px;
        display: block;
        margin: 1em auto;
    }
}

// Shared lesson styles
.bottom-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    max-width: $tablet;
    padding: 7px 20px 12px;
    box-sizing: border-box;
    margin: 0 auto;

    button {
        min-width: 120px;
    }
}
