.lesson.card,
.module.card {
    h4 {
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 14px;
        color: $gray-2;
    }

    p {
        margin: 0;
    }
}

LessonPage {
    .lesson-page-image-wrap {
        border-radius: 50%;
        width: 35vw;
        height: 35vw;
        max-width: 200px;
        max-height: 200px;
        overflow: hidden;
        margin: 1.5em auto;
    }

    .lesson-page-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

LessonFrame {
    height: 100%;
    display: grid;
    grid-template-rows: $top-menu-height 1fr 70px;

    .without-swoop {
        justify-content: center;

        .card-number {
            color: $gray-1;
            font-size: 0.7em;
            text-align: center;

            .current-card {
                font-size: 2em;
            }

            .slash {
                margin: 0 4px;
            }
        }

        a.extra-clickable-space.right {
            position: absolute;
        }

        progress {
            margin-right: 70px;
        }
    }

    .frame-background {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        overflow: auto;
    }

    .card-frame {
        margin: 0 5px 1.5em;
        width: 100%;
        max-width: $tablet;
        height: calc(100% - 1.5em);
        background-color: $gray-10;
        border-radius: 8px;
        box-shadow: 0 10px 20px 0 rgba(42, 57, 66, 0.3);
        box-sizing: border-box;
        position: relative;

        @media only screen and (min-width: 610px) {
            margin: 0 auto 1.5em;
        }
    }

    .card-content {
        position: relative;
        padding: 30px 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        overflow: scroll;

        &.fade:after {
            @extend %faded-modal-background;
        }
    }
}

.card-shadow {
    background-color: $gray-10;
    height: 20px;
    width: 96%;
    position: absolute;
    bottom: -11px;
    left: 2%;
    border-radius: 8px;
    z-index: -1;
    box-shadow: 0 5px 10px 0 rgba(42, 57, 66, 0.2);
    opacity: 0.9;

    &:nth-child(3) {
        width: 90%;
        bottom: -21px;
        z-index: -2;
        left: 5%;
        border-radius: 7px;
        opacity: 0.55;
    }
}

TitleDescription {
    height: 100%;
    width: 100%;
}

LessonContent .content,
ResourceArticle LessonFrame {
    padding-bottom: 25px;

    div.content-wrapper {
        flex-direction: column;
        padding-top: 30px;
        display: flex;
    }

    raw,
    basiccard,
    quotecard,
    listcard,
    VideoCard,
    AudioCard,
    PdfCard,
    Html5Card {
        flex: 1;
        width: 100%;
    }

    Html5Card {
        height: inherit;

        .html-card {
            display: flex;
            flex-direction: column;
            height: inherit;
        }

        h3 {
            margin-top: 0;
        }

        button {
            margin-top: 1em;
        }
    }

    basiccard,
    quotecard,
    listcard {
        text-align: left;
    }

    audio {
        min-width: 250px;
        width: 70%;
        margin-bottom: 10%;
        margin-top: 20%;
    }

    video {
        margin: 10% 0 0;
    }

    quotecard {
        margin-top: 1em;

        .quote-container {
            margin: 2em;

            &.long {
                margin-top: 0;
            }
        }

        h3 {
            font-weight: 200;
            margin: 0;
            font-size: 1.2em;
        }

        .quotation-mark {
            display: block;
            margin-bottom: 10px;
        }

        & p {
            padding-top: 0.7em;
            font-size: 0.9em;

            &.long {
                padding-top: 0;
                margin-bottom: 0;
            }
        }
    }

    listcard {
        width: 100%;

        span {
            margin-right: 18px;
            color: $gray-1;
            font-weight: 600;
        }
    }

    h3.media-title {
        font-size: 24px;
        margin-top: 10%;
    }

    p,
    li {
        font-size: 1em;
        line-height: 1.3em;
        margin: 0.3em 0;
    }

    p {
        margin: 0.7em 0;
    }

    p.media-description {
        font-size: 1em;
    }

    p.error-message {
        color: red;
    }

    raw,
    basiccard {
        hr {
            margin: 1.5em 0;
        }
    }
}

LessonFrame,
ActivityPage {
    ImageWrapper {
        position: relative;

        .modal-background.fade:after {
            z-index: 1;
        }
    }

    img.richtext-image {
        width: calc(100% + (2 * 20px));
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -30px;
        border-radius: 8px 8px 0 0;
    }

    img.richtext-image.full-screen {
        max-width: 100vw;
        max-height: 100vh;
        margin: unset;
        border-radius: unset;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    img.richtext-image.full-screen.portrait {
        width: auto;
    }

    img.richtext-image.full-screen.landscape {
        height: auto;
    }

    img.richtext-image.full-screen.square {
        width: 100vmin;
        height: 100vmin;
    }

    ImageWrapper .expand-button,
    ImageWrapper .contract-button {
        position: absolute;
        right: 0;
        bottom: 1em;
        background-color: rgba($white, 0.4);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        border-radius: 5px;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ImageWrapper .contract-button {
        z-index: 3;
        position: fixed;
        top: 1em;
        right: 1em;

        > span {
             mix-blend-mode: difference;
        }
    }
}

iframe {
    border: 3px solid $app-accent-color;
    width: 100%;
    flex: 1;
    border-radius: 15px;
    box-sizing: border-box;
}

Test {
    width: 100%;
}

TestMultipleAnswer,
TestSingleAnswer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    h4 {
        align-self: start;
        margin: 0 0 1.5em 0;
        font-weight: 100;
        font-size: 1em;
        color: $gray-3;
    }

    button {
        width: 90px;
        align-self: center;
    }

    .answers-block {
        align-self: start;
        flex: 1;
        width: 100%;

        & + h4 {
            margin: 1.5em 0 0;
        }
    }
}

test,
.answers-block {
    h3 {
        align-self: start;
    }

    button {
        flex: end;
        margin-top: 20px;
    }

    ol, ul {
        padding-left: 0;
        margin-left: 0;

        li {
            padding-left: 0;
        }
    }

    ol {
        align-self: start;
        flex: 1;
        width: 100%;

        li {
            margin-bottom: 15px;
            list-style-type: none;

            &:hover {
                cursor: pointer;
            }

            &:last-child {
                margin-bottom: 0;
            }

            p {
                font-size: 1.2em;
                margin: 0;
                padding: 0.5em 1em;
                line-height: 1.3em;
            }

            &.radio {
                border: 2px solid $gray-6;
                border-radius: 25px;
                min-height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            &.selected-pending {
                border-color: $app-accent-color;
                background-color: rgba($app-accent-color, 0.05);
            }

            &.selected-wrong {
                border-color: $red;
                background-color: rgba($red, 0.05);

                > p {
                    color: $red;
                }
            }

            &.selected {
                border-color: $teal;
                background-color: rgba($teal, 0.05);
            }

            .checkbox-container {
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                min-height: 40px;
                display: grid;
                grid-template-columns: 33px 1fr;
                color: $gray-3;

                > .checkbox {
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    border: 2px solid $gray-6;
                    border-radius: 20px 0 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 4px;
                }

                > .label {
                    box-sizing: border-box;
                    border: 2px solid $gray-6;
                    border-left: none;
                    border-radius: 0 20px 20px 0;
                    height: 100%;
                    padding: 5px 12px;
                    display: flex;
                    align-items: center;
                }

                &.answer-pending {
                    > .checkbox {
                        background-color: $app-accent-color;
                        border-color: $app-accent-color;
                        color: $white;
                    }

                    > .label {
                        background-color: rgba($app-accent-color, 0.05);
                        border-color: $app-accent-color;
                        color: $gray-1;
                    }
                }

                &.answer-success {
                    > .checkbox {
                        background-color: $teal;
                        border-color: $teal;
                        color: $white;
                    }

                    > .label {
                        background-color: rgba($teal, 0.05);
                        border-color: $teal;
                        color: $gray-1;
                    }
                }

                &.answer-warning {
                    > .checkbox {
                        background-color: $red;
                        border-color: $red;
                        color: $white;
                    }

                    > .label {
                        background-color: rgba($red, 0.05);
                        border-color: $red;
                        color: $gray-1;
                    }
                }
            }
        }
    }
}

LessonFeedback {
    .feedback-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 2em 0;

        @media only screen and (max-width: $sm-phone) {
            flex-flow: column wrap;
            align-items: center;
            margin: 1em 0;
        }

        button {
            height: 5.687em;
            width: 5.687em;
            border-radius: 50%;
            border: none;
            box-shadow: 0 5px 10px 0 rgba(42, 57, 66, 0.2);
            background-color: white;
            margin: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:focus {
                outline: 0;
            }

            &.active {
                box-shadow: inset 0 2px 4px 0 rgba(42, 57, 66, 0.5);

                & > span {
                    background-color: $white;
                }

                &.neutral {
                    background-color: $red;
                }

                &.smiling {
                    background-color: $yellow;
                }

                &.thrilled {
                    background-color: $teal;
                }
            }

            &:hover {
                cursor: pointer;
            }

            @media only screen and (max-width: calc(#{$lg-phone} + 27px)) {
                height: 5em;
                width: 5em;
                margin: 0;
            }

            @media screen and (max-width: $sm-phone) {
                margin: 0.5em;

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        & .button-label {
            color: $gray-4;
            margin-top: 11px;
        }
    }

    // Pedro needs smaller buttons at 441px. Better to target an industry
    // breakpoint and add the extra pixels.

    @media screen and (max-width: $sm-phone) {
        h3 {
            padding-bottom: 0;
        }
    }
}

.message-container {
    text-align: center;
    padding-top: 2em;

    @media screen and (max-width: $sm-phone) {
        padding-top: 1em;
    }

    h3 {
        margin: 0.5em;
    }

    h5 {
        text-transform: uppercase;
        font-weight: 300;
    }

    p {
        color: $gray-1;
    }
}

LessonComplete,
ExamResults,
ExamReview {
    .congratulations-container,
    .exam-summary {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 100%;
        padding-bottom: 2em;

        h2,
        h3 {
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 0 1em;
        }

        h3 {
            font-size: 1.2em;
        }

        p {
            color: $gray-1;
            margin: 0.5em 1em;
        }

        .btn-primary {
            margin-top: 1.5em;
            width: 220px;
            position: relative;

            .chevron {
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        a,
        .btn-secondary {
            margin-top: 1.5em;
        }

        .btn-secondary {
            width: 220px;
        }

        .exploding-computer,
        .exam-review,
        .retake-exam {
            margin-top: 3em;
        }

        .close {
            position: fixed;
            top: 1em;
            right: 1em;
            margin-top: 0;
        }

        .question-block {
            box-sizing: border-box;
            padding: 1em;
            border-top: 2px solid $gray-7;
            width: 100%;
            display: grid;
            grid-template-columns: 40px 1fr 40px;
            grid-column-gap: 14px;
            align-items: center;
            text-align: left;

            &:first-of-type {
                margin-top: 1em;
            }

            &:last-of-type {
                border-bottom: 2px solid $gray-7;
            }

            p {
                margin: 0;
                padding: 0;
            }

            .question-number {
                border: 2px solid $gray-7;
                border-radius: 50%;
            }

            .question-number,
            .incorrect-cross {
                height: 32px;
                width: 32px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                font-size: 0.8em;
                position: relative;
            }
        }
    }

    .revision-note {
        background-color: $gray-9;
        border: 2px solid $gray-7;
        border-radius: 8px;
        padding: 20px;
        margin-top: 1.5em;

        .title {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .warning-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $yellow;
            height: 2em;
            width: 2em;
            border-radius: 50%;

            .warning {
                background-color: $white;
            }
        }

        h3 {
            font-size: 1em;
            text-transform: uppercase;
        }
    }

    .exam-summary {
        display: block;

        a.back {
            display: block;
        }
    }
}

// Shared lesson styles
.bottom-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
    width: 100%;
    max-width: $tablet;
    padding: 7px 20px 12px;
    box-sizing: border-box;
    margin: 0 auto;

    button {
        min-width: 120px;
    }
}

LessonPage .btn-primary,
.thank-you-container.btn-primary {
    margin: 0 30px;
}
