LoadingDots {
  .loader {
    margin: 1em;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 0px;
    border-right: 3px solid transparent;
    animation: circ-anim 1.2s linear infinite;

    &.dark {
      border-top: 3px solid $gray-2;
    }

    &.light {
      border-top: 3px solid $gray-7;
    }
  }

  @keyframes circ-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
