Login .modal-background {
    $content-width: 18.75em;
    $background-color: $gray-9;

    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: $background-color;

    .login-header {
        width: 100%;
        display: flex;
        padding: 20px 0;
        flex-direction: column;
        background: linear-gradient(134.77deg, $gray-9 0%, $gray-7 100%);
        align-items: center;
        border-bottom-left-radius: 80% 10%;
        border-bottom-right-radius: 80% 10%;
        margin-bottom: 35px;

        span {
            margin-bottom: 20px;
        }

        h4 {
            margin: 0 auto 10px;
        }
    }

    .eye {
        display: inline-block;
    }

    LoginForm {
        max-width: $content-width;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    form {
        width: 100%;

        div.form-group {
            border: 1px solid $gray-5;
            flex-direction: column;
            margin-bottom: 15px;
            border-radius: 5px;
            padding: 5px 15px;
            display: flex;
            background-color: $white;
            box-shadow: inset 0 2px 3px 0 rgba(42, 57, 66, 0.1);
            border: 1px solid #d9e2e7;
            position: relative;
            height: 40px;

            label {
                left: 0;
                top: 30%;
                margin: 0;
                padding-left: 15px;
                position: absolute;
                transition: all 0.3s;
                width: 100%;
            }

            &.password {
                margin-bottom: 10px;
            }

            &.has-focus {
                border: 1px solid $gray-4;

                label {
                    font-size: 0.75em;
                    top: 5%;
                }
            }

            &.is-filled {
                label {
                    font-size: 0.75em;
                    top: 5%;
                }
            }
        }

        p {
            margin-bottom: 0;
            margin-left: 5px;
            margin-top: 0;
        }

        button {
            width: 100%;
        }

        #icon-box {
            width: 50px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }

        .password {
            position: relative;
        }

        .error-message {
            margin-top: -15px;

            p {
                font-size: 1em;
            }
        }
    }

    .extra-button-space {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        max-width: $content-width;
        width: 100%;

        a {
            font-size: 0.875em;
            text-align: center;

            background-color: $background-color;
            border: none;

            margin-top: 1em;
            flex: 1;
        }
    }

    input {
        border: none;
        padding-top: 15px;
        background-color: $white;

        &:focus {
            outline: none;
        }
    }

    // Override browser's default input autocomplete background color
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 1000px white inset !important;
    }
}

.send-message {
    margin-left: 4px;
}

.password-placement {
    position: absolute;
    top: 10px;
    font-size: 0.875em;
    min-width: 150px;
    left: 35px;
}

ChangeBrowser div {
    min-height: 800px;
    min-width: 300px;
    padding: 30px;
    background-color: $tan;
    margin: auto;

    span {
        margin: 10px;
    }

    .site-logo,
    .login-image {
        display: block;
    }
}
