Login .modal-background {
    $content-width: calc(100vw - 40px);

    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: $app-background-color;

    .with-swoop {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 270px;
        margin-bottom: 30px;

        span {
            margin-bottom: 20px;
        }

        h4 {
            margin: 0 auto 10px;
            color: $gray-1;
            font-weight: 400;
            font-size: 1.3em;
        }
    }

    .eye {
        display: inline-block;
    }

    LoginForm {
        max-width: $tablet;
        width: $content-width;
        display: flex;
        justify-content: center;
    }

    form {
        width: 100%;

        &.has-error {
            div.form-group {
                border: 2px solid $red;
                background-color: rgba(237, 30, 79, 0.05);
            }

            div.form-group.password {
                margin-bottom: 0;
            }

            p {
                color: $red;
                font-size: 0.8em;
                margin-left: 5px;
            }

            .error-message {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 0;
            }
        }

        div.form-group {
            flex-direction: column;
            margin-bottom: 15px;
            border-radius: 3px;
            padding: 0 15px;
            display: flex;
            background-color: $white;
            box-shadow: inset 0 2px 3px 0 rgba(42, 57, 66, 0.1);
            border: 1px solid $gray-7;
            position: relative;
            height: 40px;

            label {
                left: 0;
                top: 25%;
                margin: 0;
                padding-left: 15px;
                position: absolute;
                transition: all 0.3s;
            }

            &.password {
                margin-bottom: 20px;

                input {
                    padding-right: 35px;
                }
            }

            &.has-focus {
                border: 1px solid $gray-4;

                label {
                    font-size: 0.7em;
                    top: 10%;
                }
            }

            &.is-filled {
                label {
                    font-size: 0.7em;
                    top: 10%;
                }
            }
        }

        #icon-box {
            width: 50px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 1;

            &:hover {
                cursor: pointer;
            }
            
            p {
                margin: 0;
                letter-spacing: 0.4px;
                font-size: 0.5em;
                text-transform: uppercase;
            }
        }
    }

    .extra-button-space {
        display: flex;

        max-width: $tablet;
        width: $content-width;
        margin-top: 30px;

        a {
            font-size: 0.875em;
            text-align: center;

            background-color: $app-background-color;
            border: none;
            flex: 1;
        }
    }

    input {
        border: none;
        padding-top: 15px;
        background-color: unset;

        &:focus {
            outline: none;
        }
    }

    // Override browser's default input autocomplete background color
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 1000px white inset !important;
    }
}

.send-message {
    margin-left: 4px;
}

.password-placement {
    position: absolute;
    top: 10px;
    font-size: 0.875em;
    min-width: 150px;
    left: 35px;
}

ChangeBrowser div {
    min-height: 800px;
    min-width: 300px;
    padding: 30px;
    margin: auto;

    span {
        margin: 10px;
    }

    .site-logo,
    .login-image {
        display: block;
    }
}
