%header-swoop {
    background: $top-gradient;
    -webkit-clip-path: ellipse(145% 100% at 50% 0%);
    clip-path: ellipse(145% 100% at 50% 0%);
    padding: 20px;
    box-sizing: border-box;
}

%center-with-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%bottom-swoop {
    background: $bottom-gradient;
    -webkit-clip-path: ellipse(2000px 100% at 50% 100%);
    clip-path: ellipse(2000px 100% at 50% 100%);
    padding: 20px;
    margin: 0 -20px;
    width: 100%;
    min-height: inherit;
}

%absolutely-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%truncate-with-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%clamp-lines {
    overflow: hidden;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

%clamp-2-lines {
    @extend %clamp-lines;
    height: calc(2 * 1.2em);
    -webkit-line-clamp: 2;
}

%clamp-3-lines {
    @extend %clamp-lines;
    height: calc(3 * 1.2em);
    -webkit-line-clamp: 3;
}
