%header-swoop {
    background: $top-gradient;
    border-bottom-left-radius: 80% 10%;
    border-bottom-right-radius: 80% 10%;
    padding: 20px;
    box-sizing: border-box;
}

%center-with-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%bottom-swoop {
    background: $bottom-gradient;
    border-top-left-radius: 400% 20%;
    border-top-right-radius: 400% 20%;
    padding: 20px;
    margin: 0 -20px;
    width: 100%;
    min-height: inherit;
}

%absolutely-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
