Profile {
    .tab-titles {
        display: flex;
        justify-content: center;
        margin: 1em 0 2em 0;

        a {
            width: 50%;
            border-bottom: 2px solid $gray-7;

            h5.section-title {
                font-weight: 300;
                font-size: 0.8em;
                color: $gray-4;
                letter-spacing: 1px;
                justify-content: center;
                text-align: center;
            }

            &.selected {
                border-bottom: 2px solid $app-accent-color;

                h5.section-title {
                    color: $gray-1;
                    font-weight: 500;
                }
            }
        }
    }

    h2.sub-title {
        font-size: 1em;
        font-weight: 300;

        &:nth-of-type(2) {
            margin: 3em 0 1.4em;
        }
    }
}

.stats {
    display: flex;

    h5 {
        margin-bottom: 0;
    }
}

.stat.card {
    height: 170px;
    margin-bottom: 0;
    width: 50%;
    background-color: white;
    box-shadow: none;

    &:first-of-type {
        margin-left: 0;
    }

    &:nth-child(odd) {
        margin-right: 5px;
    }

    &:nth-child(even) {
        margin-left: 5px;
    }

    .profile-card {
        flex-direction: column;
        display: flex;
        padding: 1.25em;
        margin: auto 0;

        h3 {
            color: $gray-1;
            font-size: 30px;
            margin-bottom: 0;
            margin-top: 5px;
        }

        h5 {
            font-size: 16px;
            font-weight: 300;
            margin-top: 0;
        }
    }
}
