References .content-wrapper {
    border-radius: 1.875em 1.875em 0 0;
    background-color: $gray-10;
    padding-top: 1.875em;

    .cross {
        margin-left: 0.75em;
        margin-top: 0.25em;

        &:hover {
            cursor: pointer;
        }
    }

    .search-icon {
        width: 1.25em;
        margin-top: 0.25em;

        &:hover {
            cursor: pointer;
        }

        &.active {
            position: absolute;
            margin: 0.5em;
        }
    }

    .references-icon {
        width: 1.875em;
        height: 1.875em;
        margin-right: 0.75em;
        margin-bottom: 0;
    }

    .references-bar {
        height: 2.5em;
        display: flex;
        flex-direction: row;
    }

    .section-title {
        margin: 0.3125em 0;
    }

    h3 {
        display: inline-block;
        margin: 0;
        flex: 1;
    }

    input {
        flex: 1;
        padding: 0 2em;
        font-size: 1.1em;
        font-weight: 300;
        background-color: $tan;
        border: 1px solid $gray-5;
        border-radius: 0.1875em;

        &:focus {
            outline: none;
        }
    }
}

taglist {
    .tag {
        border-radius: 1.875em;
        background-color: $gray-6;
        padding: 0.625em 0.9375em;
        margin: 0.5em 1em 0.5em 0;
        display: inline-block;
        box-shadow: 0 0.1875em 0.1875em 0 $gray-5;

        &.selected {
            background-color: $blue-1;

            p {
                color: white;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    p {
        font-size: 0.875em;
        line-height: 0.625em;
        font-weight: 200;
        margin: 0;
    }

    .tag-container {
        margin: 0.5em 0 1em;
        padding-bottom: 0.5em;
        width: 100%;
        border-bottom: 1px solid $gray-6;
    }
}
