.settings {
    h3 {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .content-wrapper {
        flex-direction: column;
        display: flex;
        margin-left: 0;	
        margin-right: 0;
    }

    button {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.notifications-toggle {
    margin-bottom: 20px;
    align-items: center;
    display: flex;

    p {
        margin: 0 0 0 10px;
    }

    .switch {
        border-radius: 15px;
        position: relative;
        min-width: 54px;
        height: 30px;

        &:hover {
            cursor: pointer;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.3;
        }

        /* Hide default HTML checkbox */
        input[type="checkbox"] {
            opacity: 0;
            height: 0;
            width: 0;
        }

        .slider {
            background-color: $white;
            border-radius: 50%;
            position: absolute;
            height: 22px;
            width: 22px;
        }
    }

    .switch.on {
        background-color: $blue-1;

        .slider {
            right: 4px;
            top: 4px;
        }
    }

    .switch.off {
        background-color: $gray-4;

        .slider {
            left: 4px;
            top: 4px;
        }
    }
}
