Settings {
    .with-swoop {
        @extend %center-with-flex;
    }

    button {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

LanguageSelector {
  label {
    color: $gray-1;
    font-size: 1em;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
  }

  .select-wrapper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border-right: 2px solid $app-accent-color;
      border-bottom: 2px solid $app-accent-color;
      width: 8px;
      height: 8px;
      top: 14px;
      right: 15px;
      transform: rotate(45deg);
    }
  }

  #language {
    width: 100%;
    height: 40px;
    font-size: 1em;
    font-weight: 300;
    color: $gray-1;
    margin-bottom: 15%;
    border: 1px solid $gray-7;
    border-radius: 3px;
    background-color: $white;
    padding-left: 10px;
    appearance: none;
    box-shadow: inset 0 2px 3px 0 rgba(42,57,66,0.1);

    &:hover {
        cursor: pointer;
    }
  }
}

.notifications-toggle {
    margin: 20px 0;
    align-items: center;
    display: flex;

    .switch {
        border-radius: 15px;
        position: relative;
        min-width: 54px;
        height: 30px;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.3;
        }

        &.on {
            background-color: $app-accent-color;

            .slider {
                right: 4px;
            }
        }

        &.off {
            background-color: $gray-4;

            .slider {
                left: 4px;
            }
        }

        /* Hide default HTML checkbox */
        input[type="checkbox"] {
            opacity: 0;
            height: 0;
            width: 0;
        }

        .slider {
            background-color: $white;
            border-radius: 50%;
            position: absolute;
            height: 22px;
            width: 22px;
            top: 4px;
        }
    }

    label {
      color: $gray-1;
      font-size: 1em;
      font-weight: 500;
    }
}
