TagList {
    .tag {
        border-radius: 50%;
        background-color: $gray-10;
        height: 65px;
        width: 65px;
        position: relative;
        margin: 0 1.4em 1em 0;
        display: inline-block;
        box-shadow: 0 5px 10px 0 rgba(42, 57, 66, 0.2);

        p {
            @extend %absolutely-center;
            max-width: 8ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;

            text-transform: uppercase;
            font-size: 0.7em;
            font-weight: 400;
            color: $app-accent-color;
            text-align: center;
        }

        &.selected {
            background-color: $app-accent-color;
            box-shadow: inset 0 2px 4px 0 rgba(42, 57, 66, 0.5);

            p {
                color: $white;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .tag-container {
        overflow: auto;
        white-space: nowrap;
        margin: 0 0 10px 0;
    }
}
