TagList {
    .tag {
        border-radius: 1.875em;
        background-color: $gray-7;
        padding: 0.5em 0.9em;
        margin: 0 0.7em 1.2em 0;
        display: inline-block;
        box-shadow: 0 0.15em 0.15em 0 $gray-6;

        p {
            color: $gray-3;
        }

        &.selected {
			background-color: $app-accent-color;
			
			p {
				color: $white;
			}
        }

        &:hover {
            cursor: pointer;
        }

        &:last-child {
            margin-right: 30px;
        }

        &:first-child {
            margin-left: 30px;
        }
    }

    p {
        font-size: 0.875em;
        line-height: 0.625em;
        font-weight: 200;
        margin: 0;
    }

    .tag-container {
        overflow: auto;
        white-space: nowrap;
        margin: 0 -30px;
    }

    .tag-container::after {
        content: "";
        width: 30px;
        height: 45px;
        position: absolute;
        right: 0px;
        background: linear-gradient(90deg, rgba(245, 244, 240, 0), rgba(245, 244, 240, 1));

        @media only screen and (min-width: $tablet) {
            background: none;
        }
    }

    .tag-container::before {
        content: "";
        width: 30px;
        height: 45px;
        position: absolute;
        left: 0px;
        background: linear-gradient(270deg, rgba(245, 244, 240, 0), rgba(245, 244, 240, 1));

        @media only screen and (min-width: $tablet) {
            background: none;
        }
    }
}
