header {
    width: 100%;

    .top-menu-container {
        position: relative;
        height: $top-menu-height;
        max-width: $tablet;
        background-color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h4 {
        text-align: center;
    }

    span {
        display: inline-block;
    }

    a.top-icon {
        position: absolute;
        top: 15px;
        background-position: center;

        &.right {
            right: 10px;
        }

        &.left {
            left: 10px;
        }

        &.has-circle {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0 5px 8px 0 rgba(42, 57, 66, 0.1);
        }
    }
}
