header {
    height: $top-menu-height;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    position: relative;
    padding-left: 15px;
    display: flex;

    a.site-logo, a.site-logo.white {
        position: absolute;
        margin: auto;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    a.arrow-gray, a.arrow-white {
        margin-left: 15px;
    }

    a.close-btn {
        margin-left: 15px;
        position: absolute;
        left: 0;
    }

    a.cog {
        margin-right: 15px;
    }

    h6 {
        width: calc(100% - 20px - 20px - 10px);
        text-align: center;
    }
}
