TopMenu {
    width: 100%;

    .top-menu-container {
        position: relative;
        max-width: $tablet;
        background-color: inherit;
    }

    .with-swoop {
        @extend %header-swoop;
        height: 100px;
        margin: auto auto 35px auto;
    }

    .without-swoop {
        @extend %center-with-flex;
        height: $top-menu-height;
        margin: auto;

        h4 {
            color: $gray-1;
            font-size: 1em;
        }
    }

    h4 {
        text-align: center;
        color: $gray-3;
        font-weight: 200;
    }

    span {
        display: inline-block;
    }

    a.top-icon {
        position: absolute;
        top: 15px;
        -webkit-mask-position: center;
        mask-position: center;

        &.right {
            right: 15px;
        }

        &.left {
            left: 15px;
        }
    }

    a.extra-clickable-space {
        top: 7px;
        padding: 15px;

        &.right {
            right: 7px;
        }
    }
}
