h2 {
    font-family: $app-typography;
    font-size: 1.8em;
    color: $gray-1;
    font-weight: 600;
}

h3 {
    font-family: $app-typography;
    font-size: 1.5em;
    color: $gray-1;
    font-weight: 500;
}

h4 {
    font-family: $app-typography;
    font-size: 1.2em;
    color: $gray-1;
    font-weight: 500;
}

h5 {
    font-family: $app-typography;
    font-size: 0.9em;
    color: $gray-3;
    font-weight: 400;
}

h6 {
    font-family: $app-typography;
    font-size: 0.9em;
    color: $white;
    font-weight: 300;
}

p {
    font-family: $app-typography;
    line-height: 1.6;
    font-size: 1em;
    color: $gray-3;
    font-weight: 300;
}

.notification-body p {
    font-size: 12px;
}

.course-header p,
.notification-footer p {
    text-transform: uppercase;
    letter-spacing: -0.1px;
    font-size: 10px;
}

.truncate-if-long {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notifications-toggle p {
    font-size: 12px;
    color: $gray-1;
}

h5.section-title {
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
}

a {
    font-family: $app-typography;
    text-decoration: none;
    font-size: 1em;
    color: $app-accent-color;
    font-weight: 300;
}

button {
    font-family: $app-typography;
    letter-spacing: 0.6px;
    font-size: 1em;
    color: $white;
    font-weight: 400;
}

label {
    font-family: $app-typography;
    font-size: 1em;
    color: $gray-4;
    font-weight: 300;
}

input {
    font-family: $app-typography;
    font-size: 1.2em;
    color: $gray-1;
    border: none;
    padding: 0;
    background-color: $white;
    font-weight: 300;
}

ul,
ol {
    font-family: $app-typography;
    padding-left: 0;
    font-size: 13px;
    color: $gray-3;
    font-weight: 300;
}

// lists within lists
ul ul,
ul ol,
ol ul,
ol ol {
    margin-left: 0.625em;
    font-size: 0.625em;
}

// Text colors
.text-blue-1 { color: #04788E; }
.text-blue-2 { color: #00B8AD; }
.text-brown { color: #744D4D; }
.text-gray-1 { color: #2A3942; }
.text-gray-2 { color: #3F525E; }
.text-gray-3 { color: #596973; }
.text-gray-4 { color: #82939E; }
.text-gray-5 { color: #A0AFB8; }
.text-gray-6 { color: #C9D6DE; }
.text-gray-7 { color: #C9D6DE; }
.text-gray-8 { color: #E8EEF1; }
.text-gray-9 { color: #F4F8FA; }
.text-gray-10 { color: #FAFDFF; }
.text-green-1 { color: #007B56; }
.text-green-2 { color: #10B584; }
.text-green-3 { color: #F4FFFC; }
.text-orange-1 { color: #F66400; }
.text-orange-2 { color: #F67C36; }
.text-pink-1 { color: #8A0079; }
.text-pink-2 { color: #C300AB; }
.text-purple { color: #6F6CAC; }
.text-red-1 { color: #DE3011; }
.text-red-2 { color: #FF694D; }
.text-white { color: #FFFFFF; }
