h2 {
    font-family: $app-typography;
    font-size: 1.8em;
    color: $gray-1;
    font-weight: 600;
    margin: 0.8em 0;
}

h3 {
    font-family: $app-typography;
    font-size: 1.5em;
    color: $gray-1;
    font-weight: 500;
    margin: 0.7em 0;
}

h4 {
    font-family: $app-typography;
    font-size: 1.2em;
    color: $gray-1;
    font-weight: 500;
}

h5 {
    font-family: $app-typography;
    font-size: 0.9em;
    color: $gray-3;
    font-weight: 400;
    margin: 0.7em 0;
}

h6 {
    font-family: $app-typography;
    font-size: 0.9em;
    color: $white;
    font-weight: 300;
}

p {
    font-family: $app-typography;
    line-height: 1.6;
    font-size: 1em;
    color: $gray-3;
    font-weight: 300;
    margin: 0.5em 0;
}

.notification-body p {
    font-size: 12px;
}

.notification-footer p {
    text-transform: uppercase;
    letter-spacing: -0.1px;
    font-size: 10px;
}

h5.section-title {
    text-transform: uppercase;
    display: flex;
    margin: 1em 0;
}

a {
    font-family: $app-typography;
    text-decoration: none;
    font-size: 1em;
    color: $app-accent-color;
    font-weight: 300;
}

button {
    font-family: $app-typography;
    letter-spacing: 0.6px;
    font-size: 1em;
    color: $white;
    font-weight: 400;
}

label {
    font-family: $app-typography;
    font-size: 1em;
    color: $gray-4;
    font-weight: 300;
}

input {
    font-family: $app-typography;
    font-size: 1.2em;
    color: $gray-1;
    border: none;
    padding: 0;
    background-color: $white;
    font-weight: 300;
}

ul,
ol {
    font-family: $app-typography;
    padding-left: 0;
    font-size: 13px;
    color: $gray-3;
    font-weight: 300;
}

// lists within lists
ul ul,
ul ol,
ol ul,
ol ol {
    margin-left: 0.625em;
    font-size: 0.625em;
}
