/* Color pallete */
$blue-1: #0074fc;
$blue-2: #00b8ad;

$brown: #744d4d;

$tan: #f5f4f0;

$gray-1: #2a3942;
$gray-2: #3f525e;
$gray-3: #596973;
$gray-4: #82939e;
$gray-5: #a0afb8;
$gray-6: #c9d6de;
$gray-7: #d9e2e7;
$gray-8: #e8eef1;
$gray-9: #f4f8fa;
$gray-10: #fafdff;

$green-1: #007b56;
$green-2: #10b584;
$green-3: #f4fffc;

$orange-1: #f66400;
$orange-2: #f67c36;
$orange-3: #ffac51;

$pink-1: #8a0079;
$pink-2: #c300ab;

$purple: #6f6cac;

$red-1: #ed1e4f;
$red-2: #ff694d;

$white: #ffffff;

$notifications-banner-orange: #fbbf34;
$profile-banner-green: #129a62;
$settings-background-tan: $tan;

/* Layout */
$bottom-menu-height: 65px;
$top-menu-height: 65px;
$top-menu-height-no-footer: 55px;
$bottom-menu-height-no-footer: 25px;
$sticky-header-offset: 95px;
$border: 1px solid $gray-8;

/* Breakpoints */
$xs-phone: 350px;
$sm-phone: 374px;
$lg-phone: 414px;
$tablet: 600px;
$tablet-plus: 680px;

/* Customizable elements */
$app-accent-color: $blue-1;
$app-button-radius: 25px;
$app-typography: "CircularStd";
$app-gradient: linear-gradient(134.77deg, $gray-9 0%, $gray-7 100%);
$app-background-color: $gray-9;
