/* Color pallete */
$blue: #0074fc;

$gray-1: #2a3942;
$gray-2: #3f525e;
$gray-3: #596973;
$gray-4: #82939e;
$gray-5: #a0afb8;
$gray-6: #c9d6de;
$gray-7: #d9e2e7;
$gray-8: #e8eef1;
$gray-9: #f4f8fa;
$gray-10: #fafdff;

$teal: #00d2a8;

$green: #007b56;

$yellow: #ffac51;

$red: #ed1e4f;

$orange: #ff694d;

$white: #ffffff;

$notifications-banner-orange: #fbbf34;

/* Layout */
$bottom-menu-height: 70px;
$top-menu-height: 60px;
$border: 1px solid $gray-8;

/* Breakpoints */
$xs-phone: 350px;
$sm-phone: 374px;
$lg-phone: 414px;
$tablet: 600px;
$tablet-plus: 680px;
