/* Project Theme */
@import "scss/project_themables";

/* Base */
@import "variables";
@import "mixins";
@import "typography";
@import "rich_text";
@import "buttons";
@import "images";
@import "fonts";
@import "modal";

/* Components */
@import "notifications";
@import "bottom_menu";
@import "top_menu";
@import "settings";
@import "profile";
@import "course";
@import "discussion";
@import "lesson";
@import "cards";
@import "login";
@import "all_courses";
@import "teaching";
@import "long_card";
@import "activity";
@import "toast";
@import "resources";
@import "resource_article";
@import "honorcode";
@import "banner";
@import "loading";
@import "taglist";
@import "scss/_logos";

/* General */
* {
    margin: 0;
    padding: 0;
}

div.content-wrapper {
    min-height: calc(100vh - #{$bottom-menu-height} - #{$top-menu-height});
    padding-bottom: calc(#{$bottom-menu-height} + 20px);
    padding-left: 20px;
    padding-right: 20px;
    background-color: $app-background-color;
    max-width: $tablet;
    margin: auto;
}
