/* Customizable elements */
$app-accent-color: $blue;
$app-button-radius: 25px;
$app-typography: "CircularStd";
$top-gradient: linear-gradient(135deg, $gray-9 0%, $gray-7 100%);
$bottom-gradient: linear-gradient(225deg, $gray-7 0%, $gray-9 100%);
$app-background-color: $gray-9;
