/* Customizable elements */
$app-accent-color: #0074fc;
$app-button-radius: 25px;
$app-typography: "CircularStd";
$top-gradient: linear-gradient(135deg, #f4f8fa 0%, #E0E8EC 100%);
$bottom-gradient: linear-gradient(225deg, #E0E8EC 0%, #f4f8fa 100%);
$app-background-color: #f4f8fa;
