/* Customizable elements */
$app-accent-color: #0074fc;
$app-button-radius: 25px;
$app-typography: "CircularStd";
$top-gradient: linear-gradient(135deg, #f4f8fa 0%, #d9e2e7 100%);
$bottom-gradient: linear-gradient(225deg, #d9e2e7 0%, #f4f8fa 100%);
$app-background-color: #f4f8fa;
